<%= f.info_for(:modalities) %>

<div>
  <div id="france-connect-container" class="fr-col-lg-9 fr-mt-5w">
    <% if @authorization_request.france_connect_authorizations.empty? %>
      <div class="fr-callout red-callout">
        <h3 class="fr-callout__title">
          <%= f.wording_for("modalities.callout.title") %>
        </h3>
        <p class="fr-callout__text fr-my-3w">
          <%= f.wording_for("modalities.callout.content") %>
        </p>
        <%= link_to f.wording_for("modalities.callout.link"), new_authorization_request_path("france-connect"), class: "fr-link fr-btn--icon-right fr-icon-arrow-right-line" %>
      </div>
    <% else %>
      <%= f.france_connect_authorization_select %>
    <% end %>
  </div>
</div>

