<%= render layout: 'authorization_requests/shared/blocks/summary_block', locals: { authorization_request:, title: f.wording_for('steps.cnous_data_extraction_criteria'), block_id: :cnous_data_extraction_criteria, f:, editable: } do %>
  <p>
    <strong><%= t('authorization_request_forms.default.cnous_data_extraction_criteria.perimeter.title') %></strong>
  </p>

  <% if authorization_request.data['entity_type'].present? %>
    <p><%= "#{authorization_request.data['entity_type']} : #{authorization_request.data['code_insee_entity']}" %></p>
  <% elsif authorization_request.manual_code_insee_communes.present? %>
    <p><%= authorization_request.manual_code_insee_communes.join(', ') %></p>
  <% else %>
    <p><%= t('authorization_requests.shared.not_filled') %></p>
  <% end %>

  <p>
    <strong><%= f.label_value(:echelon_bourse) %></strong>
  </p>

  <% if authorization_request.echelon_bourse.present? %>
    <p><%= t("authorization_request_forms.default.cnous_data_extraction_criteria.echelons.#{authorization_request.echelon_bourse}", default: authorization_request.echelon_bourse) %></p>
  <% else %>
    <p><%= t('authorization_requests.shared.not_filled') %></p>
  <% end %>

  <p>
    <strong><%= f.label_value(:premiere_date_transmission) %></strong>
  </p>

  <% if authorization_request.premiere_date_transmission.present? %>
    <p><%= l(authorization_request.premiere_date_transmission.to_date, format: :long) %></p>
  <% else %>
    <p><%= t('authorization_requests.shared.not_filled') %></p>
  <% end %>
<% end %>
