<%= render layout: 'authorization_requests/shared/blocks/summary_block', locals: { title: f.wording_for('steps.legal'), block_id: :legal, f:, editable: } do %>
  <strong>
    <%= f.label_value(:cadre_juridique_nature) %>
  </strong>

  <%= simple_format_without_html_tags(@authorization_request.cadre_juridique_nature) %>

  <% if @authorization_request.cadre_juridique_url.present? %>
    <p>
      <strong>
        Lien relatif au traitement :
      </strong>
      <%= link_to @authorization_request.cadre_juridique_url, @authorization_request.cadre_juridique_url, target: '_blank' %>
    </p>
  <% end %>

  <% if @authorization_request.cadre_juridique_document.attached? %>
    <div>
      <strong>
        Document relatif au traitement :
      </strong>
      <br />

      <div class="fr-grid-row fr-mt-1w">
        <% Array(@authorization_request.cadre_juridique_document).each do |document| %>
          <div class="fr-col-8 fr-mb-1w">
            <%= render 'shared/display_document', document: document, f: f %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
