<%= render Molecules::Instruction::WideHeader.new(
      logo_asset: authorization_definition.provider&.logo,
      title: form.name,
      back_link:) do |component| %>
  <% component.with_subtitle_content do %>
    <p class="fr-text--sm fr-my-1w">
      <%= I18n.t('instruction.forms.show.slug_label') %> :
      <code class="fr-code-inline"><%= form.uid %></code>
    </p>
    <%= render 'instruction/authorization_definitions/counts', validated_count:, submitted_count: %>
  <% end %>

  <% component.with_right_content do %>
    <%= render Atoms::FormButtonsComponent.new(
          initiate_request_path:,
          copy_request_url: request_url) %>
  <% end %>
<% end %>
