<div class="authorization-request-card authorization-request">
  <div class="card-header">
    <span class="fr-badge fr-badge--no-icon">
      N°<%= authorization_request.id %>
    </span>

    <%= authorization_request_status_badge(authorization_request, no_icon: true) %>
  </div>

  <div class="card-provider">
    <%= authorization_request.definition.name %>
  </div>

  <div class="card-title">
    <%= authorization_request.name %>
  </div>

  <% if authorization_request.respond_to?(:description) %>
    <div class="card-description">
      <%= truncate(authorization_request.description, length: 30) %>

      <% if authorization_request.applicant != current_user %>
        <p class="fr-text--xs fr-text-grey">
          <% contact_types = authorization_request.contact_types_for(current_user).map { |contact_type| t("authorization_request_forms.default.#{contact_type}.title").downcase }.to_sentence %>
          <%= t('.current_user_mention', contact_types:) %>
        </p>
      <% end %>
    </div>
  <% end %>

  <%= link_to t('.cta'), authorization_request_form_path(form_uid: authorization_request.form.uid, id: authorization_request.id), class: %w(fr-btn fr-btn--sm) %>
</div>
