Bonjour <%= current_user.full_name %>

<%= link_to 'Demander une habilitation', authorization_request_forms_path %>

<hr />

<% if current_organization.authorization_requests.any? %>
  <h3>
    Habilitations
  </h3>
  <ul>
    <% current_organization.authorization_requests.each do |authorization_request| %>
      <li>
        <%= link_to authorization_request.name, authorization_request_path(form_uid: authorization_request.form.uid, id: authorization_request.id) %>
      </li>
    <% end %>
  </ul>
<% end %>

<hr />

<%= form_with(url: '/auth/mon_compte_pro?prompt=select_organization', method: :post, data: { turbo: false }) do |f| %>
  <%= f.button "Changer d'organisation", id: 'change_current_organization' %>
<% end %>
