<div class="sub-header">
  <h1 class="fr-m-0">
    <%= t('.title') %>
  </h1>

  <div>
    <% if current_user.instructor? %>
      <%= link_to t('.instruction_cta'), instruction_path, class: %w(fr-btn fr-btn--secondary fr-icon-file-add-fill fr-btn--icon-left) %>
    <% end %>
    <%= link_to t('.new_authorization_request'), authorization_requests_path, class: %w(fr-btn fr-btn--secondary fr-icon-add-line fr-btn--icon-left) %>
  </div>
</div>

<% if current_organization.authorization_requests.any? %>
  <% if current_organization.authorization_requests.changes_requested.any? %>
    <%= render partial: 'authorization_requests', locals: { authorization_requests: current_organization.authorization_requests.changes_requested, kind: 'changes_requested' } %>
  <% end %>

  <% if current_organization.authorization_requests.validated_or_refused.any? %>
    <%= render partial: 'authorization_requests', locals: { authorization_requests: current_organization.authorization_requests.validated_or_refused, kind: 'validated_or_refused' } %>
  <% end %>

  <% if current_organization.authorization_requests.drafts.any? %>
    <%= render partial: 'authorization_requests', locals: { authorization_requests: current_organization.authorization_requests.drafts, kind: 'draft' } %>
  <% end %>

  <% if current_organization.authorization_requests.in_instructions.any? %>
    <%= render partial: 'authorization_requests', locals: { authorization_requests: current_organization.authorization_requests.in_instructions, kind: 'pending' } %>
  <% end %>
<% else %>
  <h3 class="center">
    <%= t('.no_authorization_requests') %>
  </h3>
<% end %>
