<% if @authorization_requests.any? %>
  <% if @authorization_requests.changes_requested.without_reopening.any? %>
    <%= render partial: 'authorization_requests', locals: { authorization_requests: @authorization_requests.changes_requested.without_reopening, kind: 'changes_requested' } %>
  <% end %>

  <% if @authorization_requests.validated_or_refused.any? %>
    <%= render partial: 'authorization_requests', locals: { authorization_requests: @authorization_requests.validated_or_refused, kind: 'validated_or_refused' } %>
  <% end %>

  <% if @authorization_requests.drafts.without_reopening.any? %>
    <%= render partial: 'authorization_requests', locals: { authorization_requests: @authorization_requests.drafts.without_reopening, kind: 'draft' } %>
  <% end %>

  <% if @authorization_requests.in_instructions.without_reopening.any? %>
    <%= render partial: 'authorization_requests', locals: { authorization_requests: @authorization_requests.in_instructions.without_reopening, kind: 'pending' } %>
  <% end %>
<% else %>
  <h3 class="center">
    <%= t(".no_authorization_requests.#{params[:id]}") %>
  </h3>
<% end %>
