<% content_for :skip_links do %>
  <%= skip_link('Aller aux demandes', 'tab-demandes') %>
  <%= skip_link('Aller aux habilitations', 'tab-habilitations') %>
  <%= skip_link("Menu", "header") %>
  <%= skip_link("Pied de page", "footer") %>
<% end %>

<div class="fr-container">
  <div class="dashboard-sub-header">
    <div class="sub-header">
      <div>
        <h1 class="fr-m-0">
          <%= t('.title') %>
        </h1>

        <%= form_with(url: "/auth/mon_compte_pro?prompt=select_organization", method: :post, data: { turbo: false }, class: 'fr-pt-1w') do |f| %>
          <%= f.button current_organization.name, class: %w(fr-btn fr-btn--tertiary fr-btn--sm fr-btn--icon-left fr-icon-hotel-line) %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render 'shared/dashboard_tabs', facade: @facade %>
</div>
