<div id="<%= dom_id(message) %>" class="message">
  <div class="message__header">
    <div class="message__from">
      <% if message.from_applicant? %>
        <%= message.from.full_name %>
        (demandeur)
      <% elsif message.from == current_user %>
        Vous
      <% else %>
        <%= message.from.full_name %>
        (instructeur)
      <% end %>
    </div>

    <div class="message__date">
      Le
      <%= l(message.sent_at, format: "%d/%m/%Y") %>
    </div>
  </div>

  <div class="message__body">
    <%= simple_format(message.body) %>
  </div>
</div>
