
<div class="fr-mt-4w fr-mb-2w">
  <div class="sub-header">
    <div class="sub-header-content">
      <h1>
        <%= t('.title') %>
      </h1>
    </div>
  </div>
</div>

<%= render partial: 'shared/alerts' %>

<div class="fr-grid-row fr-grid-row--gutters fr-mt-4w">
  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <%= link_to t('.documentation'), developers_documentation_path %>
          </h3>
          <p class="fr-card__desc"><%= t('.documentation_desc') %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <%= link_to t('.applications'), developers_oauth_applications_path %>
          </h3>
          <p class="fr-card__desc"><%= t('.applications_desc') %></p>
        </div>
      </div>
    </div>
  </div>

  <% if policy([:developer, Webhook]).index? %>
    <div class="fr-col-12 fr-col-md-4">
      <div class="fr-card fr-enlarge-link">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h3 class="fr-card__title">
              <%= link_to t('.webhooks'), developers_webhooks_path %>
            </h3>
            <p class="fr-card__desc"><%= t('.webhooks_desc') %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
