<% if @authorization_request.display_prefilled_banner_for_each_block? && @authorization_request.prefilled_data?(%i[intitule description date_prevue_mise_en_production volumetrie_approximative]) %>
  <%= render partial: "authorization_request_forms/shared/prefilled_banner" %>
<% end %>

<%= f.info_for(:basic_infos) %>

<fieldset class="fr-fieldset" aria-label="feedme" aria-describedby="name-1-fieldset-messages">
  <% if @authorization_request.respond_to?(:intitule) %>
    <div class="fr-fieldset__element">
      <%= f.dsfr_text_field :intitule, required: true %>
    </div>
  <% end %>

  <% if @authorization_request.respond_to?(:description) %>
    <div class="fr-fieldset__element">
      <%= f.dsfr_text_area :description, rows: 10, required: true %>
    </div>
  <% end %>

  <% if @authorization_request.respond_to?(:maquette_projet) %>
    <div class="fr-fieldset__element" data-controller="remove-attached-file">
      <%= f.dsfr_file_field :maquette_projet %>
    </div>
  <% end %>

  <% if @authorization_request.respond_to?(:date_prevue_mise_en_production) %>
    <div class="fr-fieldset__element">
      <%= f.dsfr_date_field :date_prevue_mise_en_production %>
    </div>
  <% end %>

  <% if @authorization_request.respond_to?(:volumetrie_approximative) %>
    <div class="fr-fieldset__element">
      <%= f.dsfr_text_field :volumetrie_approximative %>
    </div>
  <% end %>
</fieldset>
