<% if @authorization_request.display_prefilled_banner_for_each_block? && @authorization_request.prefilled_data?(%i[entity_type code_insee_entity echelon_bourse premiere_date_transmission]) %>
  <%= render partial: "authorization_request_forms/shared/prefilled_banner" %>
<% end %>

<%= f.info_for(:cnous_data_extraction_criteria) %>

<fieldset class="fr-fieldset" aria-label="<%= t('authorization_request_forms.default.cnous_data_extraction_criteria.title') %>">
  <% if @authorization_request.geographic_perimeter_automatic? %>
    <%= render 'authorization_request_forms/blocks/default/cnous_perimeter_readonly' %>
  <% else %>
    <%= render 'authorization_request_forms/blocks/default/cnous_communes_manual', f: %>
  <% end %>

  <div class="fr-fieldset__element">
    <%=
      f.dsfr_select :echelon_bourse,
        options_for_select(
          @authorization_request.available_echelons.map { |value| [t("authorization_request_forms.default.cnous_data_extraction_criteria.echelons.#{value}"), value] },
          selected: @authorization_request.echelon_bourse
        ),
        required: true,
        include_blank: 'Veuillez choisir un échelon'
    %>
  </div>

  <div class="fr-fieldset__element">
    <%= f.dsfr_date_field :premiere_date_transmission, required: true %>
  </div>
</fieldset>
