<% if @authorization_request.display_prefilled_banner_for_each_block? && @authorization_request.prefilled_data?(%i[destinataire_donnees_caractere_personnel duree_conservation_donnees_caractere_personnel]) %>
  <%= render partial: "authorization_request_forms/shared/prefilled_banner" %>
<% end %>

<fieldset class="fr-fieldset" data-controller="justification" aria-label="feedme" aria-describedby="name-1-fieldset-messages" data-justification-minimum-value="36">
  <div class="fr-fieldset__element">
    <%= f.dsfr_text_field :destinataire_donnees_caractere_personnel, required: true %>
  </div>

  <div class="fr-fieldset__element">
    <%= f.dsfr_number_field :duree_conservation_donnees_caractere_personnel, data: { 'justification-target': 'value' }, model: @authorization_request, required: true, width: "lg-2 md-3 sm-4", placeholder: "Exemple: 36" %>
  </div>

  <div class="fr-fieldset__element fr-hidden" data-justification-target="justification">
    <div class="fr-alert fr-alert--warning fr-my-3w">
      <%= t('authorization_request_forms.shared.personal_data.duree_conservation_donnees_caractere_personnel_justification.warning') %>
    </div>

    <%= f.dsfr_text_area :duree_conservation_donnees_caractere_personnel_justification %>
  </div>
</fieldset>
