<%= f.info_for(:safety_certification) %>

<fieldset class="fr-fieldset fr-mb-4w">
  <div class="fr-fieldset__element">
    <%= f.dsfr_file_field :safety_certification_document %>
  </div>
</fieldset>

<fieldset class="fr-fieldset" data-controller="personal-data-duree-conservation-justification" aria-label="feedme" aria-describedby="name-1-fieldset-messages">
  <div class="fr-fieldset__element">
    <%= f.dsfr_text_field :safety_certification_authority_name %>
  </div>

  <div class="fr-fieldset__element">
    <%= f.dsfr_text_field :safety_certification_authority_function %>
  </div>

  <div class="fr-fieldset__element">
    <%= f.dsfr_date_field :safety_certification_begin_date %>
  </div>

  <div class="fr-fieldset__element">
    <%= f.dsfr_date_field :safety_certification_end_date %>
  </div>
</fieldset>
