<li
  id="<%= dom_id(authorization_request_event) %>"
  class="authorization-request-event"
>
  <%= content_tag(
    :span,
    "",
    class: [
      "fr-icon-#{t(".#{authorization_request_event.name}.icon", default: "error-warning-line")}",
      "fr-text-#{t(".#{authorization_request_event.name}.color", default: "info")}",
    ],
  ) %>

  <%= t(
    ".#{authorization_request_event.name}.text",
    **{
      user_full_name: authorization_request_event.user_full_name,
      text: authorization_request_event.text,
      copied_from_authorization_request_id:
        authorization_request_event.copied_from_authorization_request_id,
    }.compact,
  ).html_safe %>

  <%= time_tag authorization_request_event.created_at do %>
    <%= authorization_request_event.created_at.strftime("%d/%m/%Y") %>
  <% end %>
</li>
