<div class="fr-col-12 fr-col-lg-4">
  <div class="fr-card fr-card--no-border fr-p-4w" style="background-color: #f6f6f6;">
    <p class="fr-h6 fr-mb-4v" style="color: #161616;"><%= title %></p>
    <p class="fr-text--sm fr-mb-0" style="color: #000091;">50% durent moins de</p>
    <p class="fr-h2 fr-mb-4v" style="color: #000091;">
      <strong data-<%= controller_name %>-target="<%= percentile_50_target %>">-</strong>
    </p>
    <p class="fr-text--s fr-mb-0" style="color: #666;">
      90% durent moins de <span data-<%= controller_name %>-target="<%= percentile_90_target %>">-</span>
    </p>
  </div>
</div>
