<div class="<%= col_classes %>">
  <div class="fr-card fr-card--no-border fr-p-4w" style="background-color: <%= bg_color %>; text-align: center;">
    <p class="fr-text--md fr-mb-2v" style="color: #161616; font-weight: bold;"><%= title %></p>
    <p class="fr-display--xs fr-mb-0" style="color: <%= value_color %>;"><strong data-<%= controller_name %>-target="<%= target %>">-</strong></p>
  </div>
</div>
