<div id="habilitation-type-form">
  <%= form_with(
    model: [:admin, @habilitation_type],
    builder: DsfrFormBuilder
  ) do |f| %>

    <div class="fr-mb-4w">
      <h2 class="fr-h3"><%= t('admin.habilitation_types.form.sections.general') %></h2>

      <%= render Molecules::Admin::NameWithUidPreviewComponent.new(
        form: f,
        record: @habilitation_type,
        uid_label: t('admin.habilitation_types.form.uid_preview_label')
      ) %>

      <%= f.dsfr_text_area :description %>

      <%= f.dsfr_select :data_provider_id,
          @data_providers.map { |data_provider| [data_provider.name, data_provider.id] },
          required: true,
          include_blank: t('admin.habilitation_types.form.select_provider') %>

      <%= f.dsfr_radio_buttons :kind,
          HabilitationType.kinds.keys,
          required: true %>

      <%= f.dsfr_text_area :form_introduction %>
    </div>

    <div class="fr-mb-4w">
      <h2 class="fr-h3"><%= t('admin.habilitation_types.form.sections.blocks') %></h2>
      <%= render Molecules::Admin::BlocksSelectionComponent.new(
        form: f,
        habilitation_type: @habilitation_type
      ) %>
    </div>

    <div class="fr-btns-group">
      <%= f.button @habilitation_type.new_record? ? t('admin.habilitation_types.form.submit_new') : t('admin.habilitation_types.form.submit_edit'),
          type: :submit, class: %w[fr-btn] %>
      <%= link_to t('admin.habilitation_types.form.cancel'), admin_habilitation_types_path,
          class: %w[fr-btn fr-btn--tertiary] %>
    </div>

  <% end %>
</div>
