<% content_for :skip_links do %>
  <%= skip_link(t('.skip_links.menu'), "header") %>
  <%= skip_link(t('.skip_links.footer'), "footer") %>
<% end %>

<div
  class="fr-container fr-my-5w"
  data-controller="filter"
  data-filter-attribute-value="data-template-type"
>
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-mb-2w">
    <div class="fr-col">
      <h1 class="fr-mb-0"><%= t('.title') %></h1>
    </div>

    <% if current_user.manager? %>
      <div class="fr-col-auto">
        <%= link_to t('.create_button'),
                    new_instruction_message_template_path,
                    id: 'create-message-template-button',
                    class: 'fr-btn fr-btn--icon-left fr-icon-add-line' %>
      </div>
    <% end %>
  </div>

  <p><%= t('.description').html_safe %></p>

  <% unless @message_templates.empty? %>
    <div class="fr-mb-3w">
      <ul class="fr-tags-group">
        <li>
          <button
            class="fr-tag"
            aria-pressed="true"
            data-filter-target="button"
            data-filter-value-param="all"
            data-action="click->filter#filter"
          >
            <%= t('.filters.all') %>
          </button>
        </li>

        <li>
          <button
            class="fr-tag"
            aria-pressed="false"
            data-filter-target="button"
            data-filter-value-param="modification_request"
            data-action="click->filter#filter"
          >
            <%= t('activerecord.values.message_template.template_type.modification_request') %>
          </button>
        </li>

        <li>
          <button
            class="fr-tag"
            aria-pressed="false"
            data-filter-target="button"
            data-filter-value-param="refusal"
            data-action="click->filter#filter"
          >
            <%= t('activerecord.values.message_template.template_type.refusal') %>
          </button>
        </li>
      </ul>
    </div>
  <% end %>

  <% if @message_templates.empty? %>
    <p class="fr-text--sm fr-mt-3w"><%= t('.empty_state') %></p>
  <% else %>
    <p class="fr-text--sm fr-mt-3w fr-hidden" data-filter-target="emptyMessage">
      <%= t('.no_templates_for_filter') %>
    </p>
    <%= dsfr_accordion_group do %>
      <% @message_templates.each do |template| %>
        <div
          data-filter-target="item"
          data-template-type="<%= template.template_type %>"
        >
          <%= dsfr_accordion "#{template.authorization_definition.name} - #{t("activerecord.values.message_template.template_type.#{template.template_type}")} - #{template.title}", id: "template-#{template.id}" do %>
            <div
              class="fr-p-3w"
              style="background-color: var(--background-contrast-grey);"
            >
              <%= template.decorate.preview_mail(entity_name: current_user.full_name) %>
            </div>

            <div
              class="
                fr-btns-group fr-btns-group--right fr-btns-group--inline-md
                fr-mt-3w
              "
            >
              <% if current_user.manager?(template.authorization_definition_uid) %>
                <%= button_to t('.actions.delete'),
                              instruction_message_template_path(template),
                              method: :delete,
                              class: 'fr-btn fr-btn--sm fr-btn--secondary',
                              data: { turbo_confirm: t('.actions.delete_confirm') } %>
                <%= link_to t('.actions.edit'),
                            edit_instruction_message_template_path(template),
                            class: 'fr-btn fr-btn--sm' %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
