<div class="simple-page-action-wrapper fr-pt-5w">
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col-md-offset-1 fr-col-md-10">
      <turbo-frame id="main-modal-content">
        <div class="fr-modal__content">
          <h1 class="fr-h3"><%= t('.title') %></h1>

          <p>
            <%= t('.description') %>
            <%= t('.footer_note') %>
          </p>

          <div class="fr-callout">
            <p>
              <%= render partial: 'mailer/shared/applicant/header', locals: { entity_name: current_user.full_name } %>
              <br />
              <br />
              <%= @preview_content %>
              <br />
              <br />
              <%= render partial: 'mailer/shared/applicant/footer', locals: { authorization_definition_name: @authorization_request.definition.name } %>
            </p>
          </div>
        </div>
      </turbo-frame>
    </div>
  </div>
</div>
