<% content_for :content_skip_link_text do %>
  Modifier le webhook
<% end %>

<% content_for :skip_links do %>
  <%= skip_link("Formulaire", "webhook-form") %>
  <%= skip_link("Menu", "header") %>
  <%= skip_link("Pied de page", "footer") %>
<% end %>

<div class="sub-header fr-mt-4w fr-mb-2w">
  <div class="sub-header-content">
    <h1>
      <%= t('.title') %>
    </h1>
  </div>
</div>

<%= render 'form' %>
