<% content_for :content_skip_link_text do %>
  Webhooks
<% end %>

<% content_for :skip_links do %>
  <%= skip_link("Contenu principal", "webhooks-table") %>
  <%= skip_link("Menu", "header") %>
  <%= skip_link("Pied de page", "footer") %>
<% end %>

<div class="sub-header">
  <div>
    <h1 class="fr-m-0">
      <%= t('.title') %>
    </h1>
  </div>
  <div>
    <%= link_to t('.new_webhook'), new_developers_webhook_path, class: %w[fr-btn] %>
  </div>
</div>

<% if @webhooks.empty? %>
  <div class="fr-callout" id="webhooks-table">
    <p class="fr-callout__text">
      <%= t('.no_webhooks') %>
    </p>
  </div>
<% else %>
  <div class="fr-table fr-table--bordered" id="webhooks-table">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table>
          <thead>
            <tr>
              <th scope="col"><%= t('.table.id') %></th>
              <th scope="col"><%= t('.table.authorization_definition') %></th>
              <th scope="col"><%= t('.table.url') %></th>
              <th scope="col"><%= t('.table.calls_count') %></th>
              <th scope="col"><%= t('.table.events') %></th>
              <th scope="col"><%= t('.table.status') %></th>
              <th scope="col"><%= t('.table.actions') %></th>
            </tr>
          </thead>

          <tbody>
            <% @webhooks.each do |webhook| %>
              <tr id="<%= dom_id(webhook) %>">
                <td><%= webhook.id %></td>
                <td><%= webhook.definition.name %></td>
                <td class="fr-cell--multiline">
                  <%= link_to webhook.url, developers_webhook_webhook_calls_path(webhook), class: %w[fr-link] %>
                </td>
                <td><%= webhook.calls.size %></td>
                <td class="fr-cell--multiline">
                  <%= webhook.events.map { |e| t("webhooks.events.#{e}", default: e) }.join(', ') %>
                </td>
                <td>
                  <%= webhook_status_badge(webhook) %>
                </td>
                <td>
                  <div class="fr-btns-group fr-btns-group--inline fr-btns-group--sm">
                    <% if webhook.calls.any? %>
                      <%= link_to t('.view_calls'), developers_webhook_webhook_calls_path(webhook), class: %w[fr-btn fr-btn--sm] %>
                    <% end %>
                    <% if policy([:developer, webhook]).update? %>
                      <%= link_to t('.edit'), edit_developers_webhook_path(webhook), class: %w[fr-btn fr-btn--sm fr-btn--secondary] %>
                    <% end %>
                    <% if policy([:developer, webhook]).enable? %>
                      <%= button_to t('.enable'), enable_developers_webhook_path(webhook), class: %w[fr-btn fr-btn--sm fr-btn--success] %>
                    <% end %>
                    <% if policy([:developer, webhook]).disable? %>
                      <%= button_to t('.disable'), disable_developers_webhook_path(webhook), data: { turbo_confirm: t('.disable_confirm') }, class: %w[fr-btn fr-btn--sm fr-btn--tertiary-no-outline] %>
                    <% end %>
                    <% if policy([:developer, webhook]).destroy? %>
                      <%= button_to t('.delete'), developers_webhook_path(webhook), method: :delete, data: { turbo_confirm: t('.delete_confirm') }, class: %w[fr-btn fr-btn--sm fr-btn--tertiary-no-outline] %>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
