<% set_title! t('page_titles.admin_home') %>

<div class="fr-container fr-mt-5w">
  <div class="dashboard-sub-header">
    <div class="sub-header">
      <div>
        <h1 class="fr-m-0">
          <%= t('.title') %>
        </h1>
      </div>
    </div>
  </div>

  <%= render partial: 'shared/alerts' %>

  <div class="fr-mt-5w">
    <ul>
      <li><%= link_to t('.whitelisted_emails'), admin_whitelisted_verified_emails_path %></li>
      <li><%= link_to t('.users_with_roles'), admin_users_with_roles_path %></li>
      <li><%= link_to t('.impersonate'), new_admin_impersonate_path %></li>
      <li><%= link_to t('.transfer_authorization_request'), new_admin_transfer_authorization_request_path %></li>
      <li><%= link_to t('.user_organization_verification'), admin_user_organization_verifications_path %></li>
      <li><%= link_to t('.habilitation_types'), admin_habilitation_types_path %></li>
      <li><%= link_to t('.data_providers'), admin_data_providers_path %></li>
      <li><%= link_to t('.bans'), admin_bans_path %></li>
    </ul>
  </div>
</div>
