<div class="fr-background-alt--blue-france fr-py-4w fr-mb-4w">
  <div class="fr-container">
    <div class="fr-text--sm fr-mb-2w fr-text-mention--grey">
      <%= link_to "Cas d'usages de #{@formulaire.name_with_stage}",
            instruction_formulaire_cas_usages_path(provider_slug: @data_provider.slug, formulaire_id: @formulaire.id),
            class: 'fr-link fr-icon-arrow-left-line fr-link--icon-left' %>
    </div>
    <div class="fr-grid-row fr-grid-row--middle fr-grid-row--gutters">
      <% if @data_provider.logo.attached? %>
        <div class="fr-col-auto">
          <%= image_tag @data_provider.logo, alt: "#{@data_provider.name}, fournisseur de données", style: 'max-height: 80px; max-width: 160px;' %>
        </div>
      <% end %>
      <div class="fr-col">
        <h1 class="fr-mb-1v">
          <%= @cas_usage.name_with_service_provider %>
        </h1>
        <p class="fr-text-mention--grey fr-mb-0">
          <%= t('instruction.cas_usages.show.identification') %> :
          <code><%= @cas_usage.uid %></code>
        </p>
      </div>
    </div>
  </div>
</div>
