<% set_title! t('page_titles.instruction.cas_usages_show', cas_usage_name: @cas_usage.name_with_service_provider, provider_name: @data_provider.name) %>

<%= render 'instruction/cas_usages/header' %>


<section class="cas-usage-section even">
  <div class="fr-container">
    <%= render 'instruction/shared/title_with_modify_button' do %>
      <h2>Configuration</h2>
    <% end %>

    <div class="cas-usage-properties">

      <!-- ce truc de service_provider n'a aucun sens lol -->
      <div class="cas-usage-property">
        <% if @cas_usage.service_provider %>
          <% if @cas_usage.service_provider.try(:editor?) %>
            Editeur : 
          <% elsif @cas_usage.service_provider.try(:saas?) %>
            Saas :
          <% else %>
            Fournisseur de service : 
          <% end %>
          <strong><%= @cas_usage.service_provider.name %></strong>
        <% else %>
          <div class="fr-text-mention--grey"><%= t('.no_service_provider') %></div>
        <% end %>
      </div>
      
      <div class="cas-usage-property">
        Visible dans la liste des cas d'usages : 
        <code><%= t(".#{@cas_usage.public}") %></code>
      </div>

      <div class="cas-usage-property">
        <%= t('.flags.startable_by_applicant') %> : 
        <code><%= t(".#{@cas_usage.startable_by_applicant}") %></code>
      </div>

      <div class="cas-usage-property">
        <%= t('.flags.single_page_view') %> : 

        <code>
          <% if @cas_usage.single_page_view.present? %>
            Oui (<%= @cas_usage.single_page_view %>)
          <% else %>
            <%= t('.flags.single_page_view_default') %>
          <% end %>
        </code>
      </div>
    </div>

  </div>
</section>

<section class="fr-mb-5w">
  <div class="fr-container">
    <%= render 'instruction/shared/title_with_modify_button' do %>
      <h3>Aperçu dans la liste des cas d'usages</h2>
    <% end %>

    <div style="max-width: 468px;">
      <%= render 'authorization_request_forms/authorization_request_form_card', authorization_request_form: @cas_usage %>
    </div>
  </div>
</section>

<%= render 'instruction/shared/formulaire_wysiwyg', authorization_request: @authorization_request %>


