<% set_title! t('page_titles.instruction.cas_usages_show', cas_usage_name: @cas_usage.name_with_service_provider, provider_name: @data_provider.name) %>

<%= render 'instruction/cas_usages/header' %>


<section class="cas-usage-section even">
  <div class="fr-container">
    <h2>Propriétés</h2>

    <!-- ce truc de service_provider n'a aucun sens lol -->
    <% if @cas_usage.service_provider %>
    <p>
      <% if @cas_usage.service_provider.try(:editor?) %>
        Editeur : 
      <% elsif @cas_usage.service_provider.try(:saas?) %>
        Saas :
      <% else %>
        Fournisseur de service intermédiaire : 
      <% end %>
      <strong><%= @cas_usage.service_provider.name %></strong>
    </p>
    <% else %>
      <p class="fr-text-mention--grey"><%= t('.no_service_provider') %></p>
    <% end %>

    <p>
      Visible dans la liste des cas d'usages : 
      <code><%= t(".#{@cas_usage.public}") %></code>
    </p>

    <p>
      <%= t('.flags.startable_by_applicant') %> : 
      <code><%= t(".#{@cas_usage.startable_by_applicant}") %></code>
    </p>

    <p>
      <%= t('.flags.single_page_view') %> : 

      <code>
        <% if @cas_usage.single_page_view.present? %>
          Oui (<%= @cas_usage.single_page_view %>)
        <% else %>
          <%= t('.flags.single_page_view_default') %>
        <% end %>
      </code>
    </p>

  </div>
</section>

<section class="cas-usage-section even">
  <div class="fr-container">
    <h2>Aperçu dans la liste des cas d'usages</h2>

    <div style="max-width: 468px;">
      <%= render 'authorization_request_forms/authorization_request_form_card', authorization_request_form: @cas_usage %>
    </div>
  </div>
</section>

<section class="cas-usage-section even">
  <div class="fr-container">
    <h2>Introduction du formulaire</h2>

    <div class="viewer-of-content">
      <%= render 'authorization_request_forms/new', authorization_request_form: @cas_usage %>
    </div>
  </div>
</section>

<%= form_with model: @authorization_request, url: '#', builder: DisabledAuthorizationRequestFormBuilder do |f| %>
  <% static_block_names = @cas_usage.static_blocks.map { |b| b[:name] || b['name'] }.to_set %>
  <% @formulaire.blocks.each_with_index do |block, index| %>

    <section class="cas-usage-section odd">

      <% if index == 0 %>
        <div class="fr-container fr-pt-5w">
          <h2>Contenu du formulaire</h2>
        </div>
      <% end %>
      
      <div class="fr-container">
        <h3>
          <%= f.wording_for("steps.#{block[:name]}") %>

          <!-- this needs to be a method of a block, but flemme -->
          <% if static_block_names.include?(block[:name].to_s) %>
            <span class="fr-tag fr-tag--brown-cafe-creme fr-icon-lock-line fr-tag--icon-left fr-tag--sm fr-ml-1w">
              Cette étape ne sera pas montrée à l'utilisateur
            </span>
          <% end %>
        </h3>
        <div class="viewer-of-content fr-mb-3w">
          <%= render_custom_form_or_default(@authorization_request, block[:name], { f: }) %>
        </div>
      </div>
    </section>
  <% end %>

  <section class="cas-usage-section odd">
    <div class="fr-container">
      <h2>Avant de soumettre la demande</h2>

      <div class="viewer-of-content">
        <%= render 'authorization_request_forms/shared/tos_checkboxes', f: f %>
      </div>
    </div>
  </section>
<% end %>

