<%= render layout: 'authorization_requests/shared/blocks/summary_block', locals: { title: "L'organisation", block_id: :organization, editable: false } do %>
  <div class="fr-container-fluid organization-and-applicant">
    <div class="fr-grid-row fr-grid-row--gutters">
      <% if !displayed_on_a_public_page? %>
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-basic-card">
            <div class="contact-card__kind">
              Demandeur
            </div>

            <div class="contact-card__full_name">
              <%= @authorization_request.applicant.full_name %>
            </div>

            <%
              %w[
                job_title
                email
                phone_number
              ].each do |user_attribute|
            %>
              <div class="contact-card__attribute">
                <div class="contact-card__attribute-label">
                  <%= User.human_attribute_name(user_attribute) %>
                </div>
                <div class="contact-card__attribute-value">
                  <%= @authorization_request.applicant.public_send(user_attribute) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="fr-col-12 fr-col-lg-6">
        <div class="fr-basic-card">
          <div class="contact-card__kind">
            Organisation
          </div>

          <div class="contact-card__full_name">
            <%= @authorization_request.organization.raison_sociale %>
          </div>

          <%
            %w[
              siret
              address
              code_naf_with_libelle
            ].each do |organization_attribute|
          %>
            <% next unless @authorization_request.organization.public_send(organization_attribute).present? %>

            <div class="contact-card__attribute">
              <div class="contact-card__attribute-label">
                <%= Organization.human_attribute_name(organization_attribute) %>
              </div>
              <div class="contact-card__attribute-value">
                <%= @authorization_request.organization.public_send(organization_attribute) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
