<% if @authorization_request.reopening? %>
  <h1 class="authorization-request-form-header__name">
    <span class="fr-icon-edit-box-fill fr-icon--lg fr-text-blue-france" aria-hidden="true"></span>
    <%= t('.update') %>
  </h1>

  <%= render partial: "authorization_requests/shared/subtitle", locals: { subtitle: @authorization_request.form.name_with_definition } %>

<% elsif @authorization_request.form.name %>
  <h1 class="authorization-request-form-header__name">
    <%= @authorization_request.form.name %>
  </h1>

  <%= render partial: "authorization_requests/shared/subtitle", locals: { subtitle: @authorization_request.definition.name } %>

<% else %>
  <h1 class="authorization-request-form-header__name">
    <%= @authorization_request.definition.name  %>
  </h1>
  <% if @authorization_request.form.service_provider.present? %>
    <h2>
      <%= render partial: "authorization_requests/shared/service_provider", locals: { name: @authorization_request.form.service_provider.name } %>
    </h2>
  <% end %>
<% end %>
