<% set_title! t('page_titles.instruction_definition_form_show', form_name: @form.name, definition_name: @authorization_definition.name_with_stage) %>

<%= render Molecules::Instruction::Form::ShowHeaderComponent.new(
      authorization_definition: @authorization_definition,
      form: @form,
      validated_count: @counts[:validated],
      submitted_count: @counts[:submitted],
      can_initiate_request: policy([:instruction, @authorization_definition]).initiate_request?) %>

<div class="fr-container fr-my-5w">
  <%= render Molecules::Instruction::Form::ConfigBlockComponent.new(form: @form) %>
</div>

<div class="fr-container fr-my-5w" data-controller="side-panel">
  <h2 class="fr-mb-1w">
    <%= t('.preview_title') %>
  </h2>

  <p class="fr-col-md-6 fr-mb-3w">
    <%= t('.preview_subtitle') %>
  </p>

  <% side_panel_id = 'form-edit-side-panel' %>

  <%= render Atoms::EditDefinitionBlockComponent.new(
        title: t('.card_preview'),
        can_edit: @can_edit,
        side_panel_id:,
        block_card_class: 'definition-block__card-preview') do %>
    <%= render 'authorization_request_forms/authorization_request_form_card', authorization_request_form: @form %>
  <% end %>

  <h2 class="fr-mb-1w fr-mt-5w">
    <%= t('.introduction_title') %>
  </h2>

  <p class="fr-col-md-6 fr-mb-3w">
    <%= t('.introduction_subtitle') %>
  </p>

  <%= render Atoms::EditDefinitionBlockComponent.new(title: t('.introduction'), can_edit: @can_edit, side_panel_id:) do %>
    <%= render 'authorization_request_forms/introduction', authorization_request_form: @form, organization: @preview_organization %>
  <% end %>

  <h2 class="fr-mb-1w fr-mt-5w">
    <%= t('.prefill_title') %>
  </h2>

  <p class="fr-col-md-6 fr-mb-3w">
    <%= t('.prefill_subtitle') %>
  </p>

  <% steps = @form.steps.presence || @authorization_definition.blocks %>
  <%= form_with model: @authorization_request, url: '#', builder: AuthorizationRequestFormBuilder do |f| %>
    <% steps.each do |step| %>
      <%= render Atoms::EditDefinitionBlockComponent.new(
            title: f.wording_for("steps.#{step[:name]}"),
            static_block: @form.static_blocks.any? { |b| b[:name].to_s == step[:name].to_s },
            can_edit: @can_edit,
            side_panel_id:) do %>
        <%= render_custom_form_or_default(@authorization_request, step[:name], { f: }) %>
      <% end %>
    <% end %>
  <% end %>

  <%= render Molecules::SidePanelComponent.new(id: side_panel_id) do %>
    <%= render Atoms::UnderDevelopmentAlertComponent.new(
          wip_action: t('.side_panel.under_development.wip_action')) %>
  <% end %>
</div>
