<% set_title! t('page_titles.instruction_definition', definition_name: @authorization_definition.name) %>

<%= render Molecules::Instruction::AuthorizationDefinition::ShowHeaderComponent.new(
      authorization_definition: @authorization_definition,
      validated_count: @counts[:validated],
      submitted_count: @counts[:submitted],
      can_initiate_request: policy([:instruction, @authorization_definition]).initiate_request?) %>

<div class="fr-container fr-my-5w">
  <%= render Molecules::Instruction::AuthorizationDefinition::ConfigBlockComponent.new(authorization_definition: @authorization_definition) %>

  <section class="fr-my-5w">
    <div class="fr-mb-1w">
      <h2 class="fr-h4"><%= t('.actions_block.title') %></h2>
      <p class="fr-text--sm fr-text-mention--grey"><%= t('.actions_block.subtitle') %></p>
    </div>

    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-md-4">
        <% can_edit = policy([:instruction, @authorization_definition]).edit? %>
        <%= render Atoms::ActionCardComponent.new(
              title: can_edit ? t('.actions_block.blocks.title') : t('.actions_block.blocks.title_readonly'),
              description: can_edit ? t('.actions_block.blocks.description') : t('.actions_block.blocks.description_readonly'),
              link: edit_instruction_authorization_definition_path(@authorization_definition),
              detail: t('.actions_block.blocks.count', count: @authorization_definition.blocks_count_with_intro_and_summary),
              icon: 'fr-icon-draft-line') %>
      </div>

      <% if @authorization_definition.available_forms.size > 1 %>
        <div class="fr-col-12 fr-col-md-4">
          <%= render Atoms::ActionCardComponent.new(
                title: can_edit ? t('.actions_block.cas_usages.title') : t('.actions_block.cas_usages.title_readonly'),
                description: can_edit ? t('.actions_block.cas_usages.description') : t('.actions_block.cas_usages.description_readonly'),
                link: '#',
                detail: t('.actions_block.cas_usages.count', count: @authorization_definition.available_forms.size),
                icon: 'fr-icon-file-text-line') %>
        </div>
      <% end %>

      <div class="fr-col-12 fr-col-md-4">
        <%= render Atoms::ActionCardComponent.new(
              title: can_edit ? t('.actions_block.emails.title') : t('.actions_block.emails.title_readonly'),
              description: can_edit ? t('.actions_block.emails.description') : t('.actions_block.emails.description_readonly'),
              link: '#'
              ) %>
      </div>
    </div>
  </section>
</div>
