<div class="fr-background-alt--blue-france fr-py-4w fr-mb-4w">
  <div class="fr-container">
    <% if back_link %>
      <div class="fr-text--sm fr-mb-2w fr-text-mention--grey">
        <%= link_to back_link[:text],
              back_link[:path],
              class: 'fr-link fr-icon-arrow-left-line fr-link--icon-left' %>
      </div>
    <% end %>

    <div class="fr-grid-row fr-grid-row--top fr-grid-row--gutters">
      <div class="fr-col-auto">
        <% if logo_asset&.attached? %>
          <%= image_tag logo_asset, alt: title, class: 'wide-header-logo' %>
        <% elsif dsfr_logo %>
          <%= dsfr_pictogram(dsfr_logo) %>
        <% end %>
      </div>
      <div class="fr-col">
        <h1 class="fr-mb-1v">
          <%= title %>
        </h1>
        <%= subtitle_content %>
      </div>
    </div>
  </div>
</div>
