<%= content_for(:body) do %>
  <div class="fr-bg-grey">
    <div class="authorization-request-form-header">
      <div class="fr-container">
        <div class="fr-grid-row">
          <div class="fr-col-12 fr-col-md-8">
            <h1 class="authorization-request-form-header__name">
              <%= @authorization_request.form.name %>
            </h1>

            <h2 class="authorization-request-form-header__kind">
              <%= @authorization_request.definition.name %>
            </h2>

            <p class="authorization-request-form-header__badges">
              <% if @authorization_request.reopening? %>
                <%= authorization_request_reopening_badge %>
              <% end %>

              <%= authorization_request_status_badge(@authorization_request) %>
            </p>
          </div>
          <div class="fr-col-12 fr-col-md-4">
            <div class="authorization-request-form-header__actions">
              <% if @authorization_request.reopening? && policy(@authorization_request.latest_authorization).show? %>
                <%= link_to t('.view_authorization'), @authorization_request.latest_authorization, target: '_blank', class: 'fr-btn fr-btn--secondary' %>
              <% end %>

              <%= render partial: 'instruction/authorization_requests/moderation_buttons' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%
      tabs = {
        authorization_request: instruction_authorization_request_path(@authorization_request),
        authorization_request_events: instruction_authorization_request_events_path(@authorization_request),
        messages: instruction_authorization_request_messages_path(@authorization_request),
      }
    %>

    <div class="fr-tabs" data-controller="auto-height">
      <ul class="fr-tabs__list fr-container" role="tablist" aria-label="Menu secondaire">
        <% tabs.each do |id, path| %>
          <li role="presentation">
            <%=
              link_to(
                path,
                class: [
                  'fr-tabs__tab',
                  "fr-icon-#{t(".tabs.#{id}.icon")}",
                  'fr-tabs__tab--icon-left'
                ],
                role: 'tab',
                id: "tab-#{id}",
                tabindex: current_page?(path) ? '0' : '-1',
                data: {
                  turbo_frame: "tab-#{id}-panel",
                },
                aria: {
                  selected: current_page?(path),
                  controls: "tab-#{id}-panel"
                }) do
              %>
              <%= t(".tabs.#{id}.title") %>
              <% if id == :messages && @authorization_request.unread_messages_from_instructors_count > 0 %>
                <span class="unread-message-dot fr-ml-2v">
                  <%= @authorization_request.unread_messages_from_instructors_count %>
                </span>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>

      <% tabs.each do |id, path| %>
        <turbo-frame id="tab-<%= id %>-panel" class="fr-tabs__panel fr-tabs__panel--selected fr-bg-white" role="tabpanel" aria-labelledby="tab-<%= id %>" tabindex="0" data-turbo-action="advance">
          <div class="fr-container">
            <%= render partial: 'shared/alerts' %>

            <% if current_page?(path) %>
              <div data-auto-height-target="source">
                <%= yield %>
              </div>
            <% else %>
              <div data-auto-height-target="destination">
              </div>
            <% end %>
          </div>
        </turbo-frame>
      <% end %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
