<div class="config-block">
  <div class="config-block__header">
    <div class="config-block__title">
      <span class="fr-icon-settings-5-line fr-icon--sm" aria-hidden="true"></span>
      <h2 class="fr-h6 fr-mb-0"><%= t('instruction.authorization_definitions.show.config_block.title') %></h2>
    </div>
  </div>

  <div class="config-block__body">
    <%= render_kind_chip if kind.present? %>
    <%= render_boolean_chip('fields.startable_by_applicant', startable_by_applicant) %>
    <%= render_boolean_chip('fields.unique', unique) %>
    <%= render_boolean_chip('features.messaging', feature_enabled?(:messaging)) %>
    <%= render_boolean_chip('features.transfer', feature_enabled?(:transfer)) %>
    <%= render_boolean_chip('features.instructor_drafts', feature_enabled?(:instructor_drafts)) %>
    <%= render_boolean_chip('features.reopening', feature_enabled?(:reopening)) %>
    <%= render_support_email_chip if support_email.present? %>
    <%= render_access_link_chip if access_link.present? %>
  </div>
</div>
