<div class="steps-timeline">
  <div class="next-steps">
    <div>
      <div>
        <%= image_tag "pictograms/homepage/identification.svg", alt: "identification", class: %w(fr-responsive-img) %>
      </div>
      <div><%= t('authorization_requests.unauthenticated_start.etape_1') %></div>
    </div>

    <div>
      <div>
        <%= image_tag "pictograms/homepage/demande.svg", alt: "identification", class: %w(fr-responsive-img) %>
      </div>
      <div><%= t('authorization_requests.unauthenticated_start.etape_2') %></div>
    </div>

    <div>
      <div>
        <%= image_tag "pictograms/homepage/habilitation.svg", alt: "identification", class: %w(fr-responsive-img) %>
      </div>
      <div><%= t('authorization_requests.unauthenticated_start.etape_3') %></div>
    </div>

    <div>
      <div>
        <%= image_tag "pictograms/homepage/token.svg", alt: "identification", class: %w(fr-responsive-img) %>
      </div>
      <div><%= t('authorization_requests.unauthenticated_start.etape_4') %></div>
    </div>
  </div>

  <div class="timeline">
    <div>
      <div class="step">
      </div>
    </div>
    <div>
      <div class="step">
      </div>
      <div class="time-indication">~ 5 jour(s)</div>
    </div>
    <div>
      <div class="step">
      </div>
    </div>
    <div>
      <div class="step">
      </div>
    </div>
  </div>
</div>
