<h1 class="fr-mt-5v">FAQ</h1>

<%= dsfr_accordion_group(class: ['my-faq']) do %>
  <%= dsfr_accordion "J’ai une question concernant mon habilitation.", id: 'faq-habilitation' do %>
    <div class="fr-table">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table>
              <thead>
                <tr>
                  <td>Nature de l'habilitation</td>
                  <td>Contact</td>
                </tr>
              </thead>
              <tbody>
                <% AuthorizationDefinition.all.each do |authorization_definition| %>
                  <tr>
                    <td><%= authorization_definition.name_with_stage %></td>
                    <td>
                      <a href="mailto:<%= authorization_definition.support_email %>?subject=Contact via la FAQ">
                        Écrire à l'équipe
                      </a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= dsfr_accordion "Comment puis-je modifier les coordonnées de mon compte ?", id: 'faq-modif-coord' do %>
    Si vous souhaitez modifier les coordonnées de votre compte (par exemple dans le cadre d’une demande d’habilitation), rendez‑vous <%= link_to "ici", profile_path %>.<br />
    Note : l’adresse mail ne peut pas être modifiée. Pour en changer, créez un nouveau compte.
  <% end %>

  <%= dsfr_accordion "Puis-je rejoindre une autre organisation ?", id: 'faq-autre-org' do %>
    Tout à fait, vous pouvez le faire <%= link_to "ici", profile_path %>.
  <% end %>

  <%= dsfr_accordion "Puis-je demander une habilitation pour une organisation étrangère ?", id: 'faq-org-etrangere' do %>
    Non, DataPass ne permet de demander des habilitations que pour les organisations INSEE.
  <% end %>

  <%= dsfr_accordion "Je ne trouve pas la réponse à ma question.", id: 'faq-autre' do %>
    Vous pouvez <a href="mailto:<%= t("mailer.shared.support.email") %>?subject=Contact via la FAQ">nous contacter directement</a>.
  <% end %>
<% end %>
