<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--middle">
    <%= render partial: 'pages/shared/welcome_logo' %>

    <div class="fr-col-sm-12 fr-col-md-7 fr-my-5w">
      <div class="fr-connect-group">
        <h1>
          <%= t('.title').html_safe %>
        </h1>

        <p>
          <%= t('.sub_title').html_safe %>
        </p>

        <%= render partial: 'pages/shared/mcp' %>
        <%= render partial: 'pages/shared/api_gouv' %>
        </div>
      </div>
    </div>
  </div>
</div>
