<% if local_assigns[:contact_type] %>
  <% contact_definition = @authorization_request.contact_definitions.find { |contact_definition| contact_definition.type == contact_type } %>
<% end %>

<% legend_id = dom_id(@authorization_request, "#{contact_definition.type}_legend") %>
<% info_id = dom_id(@authorization_request, "#{contact_definition.type}_info") if @authorization_request.contact_info(contact_definition.type).present? %>

<div class="fr-col-12 fr-col-lg-6">
  <div id="<%= dom_id(@authorization_request, contact_definition.type) %>" data-controller="fill-contact-data-with-applicant-data" class="fr-basic-card contact-form-card" data-fill-contact-data-with-applicant-data-applicant-data-value="<%= current_user.attributes.slice('family_name', 'given_name', 'email', 'phone_number', 'job_title').to_json %>" style="position: relative;">

    <fieldset class="fr-fieldset" <%= "aria-describedby=\"#{info_id}\"" if info_id %>>
      <legend class="fr-fieldset__legend contact-form-card__title" id="<%= legend_id %>">
        <%= t("authorization_request_forms.default.#{contact_definition.type}.title") %>
      </legend>

      <% if @authorization_request.contact_info(contact_definition.type).present? %>
        <p class="contact-form-card__info" id="<%= info_id %>">
          <%= @authorization_request.contact_info(contact_definition.type).html_safe %>
        </p>
      <% end %>

      <p class="fr-text--xs fr-mb-2w" aria-hidden="true">
        Les champs marqués d’un astérisque * sont obligatoires.
      </p>

      <% if contact_definition.fill_data_with_applicant_data? %>
        <button type="button" class="fr-btn fr-btn--secondary fr-btn--sm contact-form-card__fill-button" data-action="fill-contact-data-with-applicant-data#perform" aria-label="<%= t('.fill_with_my_information') %>">
          <%= t('.its_me') %>
        </button>
      <% end %>

      <div class="fr-sr-only" data-fill-contact-data-with-applicant-data-target="notification" data-message="<%= t('.fields_filled_successfully') %>" role="alert" aria-live="assertive" aria-atomic="true"></div>

      <% @authorization_request.class.contact_attributes.each do |contact_attribute| %>
        <% next if @authorization_request.skip_contact_attribute?(contact_definition.type, contact_attribute) %>

        <div class="fr-fieldset__element">
          <%
            field_name = "#{contact_definition.type}_#{contact_attribute}"
            field_options = { required: true }

            if contact_attribute == 'email' && contact_definition.required_personal_email?
              field_options[:data] = { controller: 'individual-email-checker' }
            end
          %>

          <% if contact_attribute == 'email' %>
            <%= f.dsfr_email_field(field_name, field_options) %>
          <% else %>
            <%= f.dsfr_text_field(field_name, field_options) %>
          <% end %>
        </div>
      <% end %>

      <% if local_assigns[:extra_block] %>
        <%= local_assigns[:extra_block] %>
      <% end %>
    </fieldset>
  </div>
</div>
