<div class="fr-container-fluid">
  <div class="fr-grid-row">
    <% @authorization_request.class.contact_types.each do |contact_type| %>
      <div class="fr-col-12 fr-col-lg-6">
        <div id="<%= dom_id(@authorization_request, contact_type) %>" class="fr-basic-card" data-contact-type="<%= contact_type %>">
          <h3>
            <%= t("authorization_request_forms.default.#{contact_type}.title") %>
          </h3>

          <fieldset class="fr-fieldset" aria-label="feedme" aria-describedby="name-1-fieldset-messages">
            <% @authorization_request.class.contact_attributes.each do |contact_attribute| %>
              <div class="fr-fieldset__element">
                <% if contact_attribute == 'email' %>
                  <%= f.dsfr_email_field("#{contact_type}_#{contact_attribute}") %>
                <% else %>
                  <%= f.dsfr_text_field("#{contact_type}_#{contact_attribute}") %>
                <% end %>
              </div>
            <% end %>
          </fieldset>
        </div>
      </div>
    <% end %>
  </div>
</div>
