<%# locals: (authorization_request:) -%>

<div class="authorization-request-form-header__badges">
  <ul class="fr-badge-group">
    <%= authorization_request.reopening_badge %>

    <% if @authorization.present? %>
      <li>
        <span class="fr-badge fr-badge--no-icon"><%= t("authorization.badge", id: @authorization.id) %></span>
      </li>
      <li>
        <span class="fr-badge fr-badge--no-icon"><%= t("authorization.date_badge", date: @authorization.created_at.strftime('%d/%m/%Y')) %></span>
      </li>
    <% elsif @authorization_request.persisted? %>
      <li>
        <span class="fr-badge fr-badge--no-icon"><%= t("authorization_request.badge", id: @authorization_request.id) %></span>
      </li>
    <% end %>

    <% if authorization_request.definition.stage.exists? %>
      <li>
        <%= authorization_request_stage_badge(authorization_request) %>
      </li>
    <% end %>

    <li>
      <%= authorization_request.status_badge %>
    </li>
  </ul>
</div>
