<%= f.info_for(:legal) %>

<div class="legal-border-card">
  <% if f.wording_for('legal.subtitle') %>
    <p class="fr-h5 legal-subtitle">
      <%= f.wording_for('legal.subtitle') %>
    </p>
  <% end %>
  <% if f.wording_for('legal.description') %>
    <p>
      <%= f.wording_for('legal.description') %>
    </p>
  <% end %>

  <fieldset class="fr-fieldset" aria-label="feedme" aria-describedby="name-1-fieldset-messages">
    <div class="fr-fieldset__element fr-my-3w">
      <%= f.dsfr_text_area :cadre_juridique_nature, rows: 5 %>
    </div>
  </fieldset>

  <div class="legal-bloc-space">
    <hr>
    <p class="fr-mt-3w">
      <span class="fr-text--lg legal-text__bold"><%= f.wording_for('legal.justificatif.title') %></span>
      <br>
      <%= f.wording_for('legal.justificatif.description') %>
    </p>

    <% if @authorization_request_form.uid.include?('api-particulier') %>
      <p>
        <span class="legal-text__bold"><%= f.wording_for('legal.cadre_juridique_document.title') %></span>
        <br>
        <span class="fr-mt-1w"><%= f.wording_for('legal.cadre_juridique_document.description').html_safe %></span>
      </p>
    <% end %>
  </div>

  <fieldset class="fr-fieldset fr-mt-4w" aria-label="feedme" aria-describedby="name-1-fieldset-messages">
    <div class="fr-fieldset__element">
      <%= f.dsfr_file_field :cadre_juridique_document %>
    </div>
  </fieldset>

  <div class="legal-bloc-separation">
    <div class="legal-line"></div>
    <div class="legal-centered__element">
      <p class="fr-h5">OU</p>
    </div>
    <div class="legal-line"></div>
  </div>

  <p class="legal-text__bold"><%= f.wording_for('legal.cadre_juridique_url') %></p>

  <fieldset class="fr-fieldset" aria-label="feedme" aria-describedby="name-1-fieldset-messages">
    <div class="fr-fieldset__element legal-input__width">
      <%= f.dsfr_url_field :cadre_juridique_url %>
    </div>
  </fieldset>
</div>
