<% user = @authorization_request.present? ? @authorization_request.applicant : current_user %>
<% organization = @authorization_request.present? ? @authorization_request.organization : current_organization %>

<div class="fr-container-fluid">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-6">
      <div id="<%= dom_id(user, :authorization_request_card) %>" class="fr-basic-card">
        <div class="fr-col">
          <h3>
            <% if namespace?(:instruction) %>
              <%= t('.applicant.title') %>
            <% else %>
              <%= t('.you.title') %>
            <% end %>
          </h3>

          <ul>
            <li>
              <strong><%= user.full_name %></strong>
            </li>
            <% %i[email job_title phone_number].each do |attr| %>
              <li>
                <%= user.public_send(attr) %>
              </li>
            <% end %>
          </ul>
        </div>

        <% if @authorization_request.blank? %>
          <%= form_with(url: "/auth/mon_compte_pro?prompt=update_userinfo", method: :post, data: { turbo: false }) do |f| %>
            <%= f.button t('.you.update'), id: 'update_infos', class: %w(fr-btn fr-mt-2w) %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="fr-col-12 fr-col-lg-6">
      <div id="<%= dom_id(organization, :authorization_request_card) %>" class="fr-basic-card">
        <div class="fr-col">
          <h3>
            <% if namespace?(:instruction) || controller_name == 'profile' %>
              <%= t('.organization.title') %>
            <% else %>
              <%= t('.your_organization.title') %>
            <% end %>
          </h3>

          <ul>
            <li>
              <strong><%= organization.raison_sociale %></strong>
            </li>
            <% %i[siret].each do |attr| %>
              <li>
                <%= organization.public_send(attr) %>
              </li>
            <% end %>
          </ul>
        </div>

        <% if @authorization_request.blank? %>
          <%= form_with(url: "/auth/mon_compte_pro?prompt=select_organization", method: :post, data: { turbo: false }) do |f| %>
            <%= f.button t('.your_organization.update'), id: 'change_current_organization', class: %w(fr-btn fr-mt-2w) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
