<div class="fr-container-fluid">
  <div class="fr-grid-row">
    <div class="fr-col-12 fr-col-lg-6">
      <div id="<%= dom_id(current_user, :authorization_request_card) %>" class="fr-basic-card">
        <h3>
          <%= t('.you.title') %>
        </h3>

        <ul>
          <li>
            <strong><%= current_user.full_name %></strong>
          </li>
          <% %i[email job_title phone_number].each do |attr| %>
            <li>
              <%= current_user.public_send(attr) %>
            </li>
          <% end %>
        </ul>

        <%= form_with(url: "/auth/mon_compte_pro?prompt=update_userinfo", method: :post, data: { turbo: false }) do |f| %>
          <%= f.button t('.you.update'), id: 'update_infos', class: %w(fr-btn) %>
        <% end %>
      </div>
    </div>

    <div class="fr-col-12 fr-col-lg-6">
      <div id="<%= dom_id(current_organization, :authorization_request_card) %>" class="fr-basic-card">
        <h3>
          <%= t('.organization.title') %>
        </h3>

        <ul>
          <li>
            <strong><%= current_organization.raison_sociale %></strong>
          </li>
          <% %i[siret].each do |attr| %>
            <li>
              <%= current_organization.public_send(attr) %>
            </li>
          <% end %>
        </ul>

        <%= form_with(url: "/auth/mon_compte_pro?prompt=select_organization", method: :post, data: { turbo: false }) do |f| %>
          <%= f.button t('.organization.update'), id: 'change_current_organization', class: %w(fr-btn) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
