<% if @authorization_request.display_prefilled_banner_for_each_block? && @authorization_request.prefilled_data?(%i[scopes]) %>
  <%= render partial: "authorization_request_forms/shared/prefilled_banner" %>
<% end %>

<%= f.info_for(:scopes) %>

<% @authorization_request.available_scopes.group_by(&:group).each do |group_name, scopes| %>
  <div class="fr-form-group scopes-group">
    <p class="scopes-group__title fr-text--lg">
      <%= group_name %>
    </p>

    <% if f.wording_for("scopes.groups.#{group_name.to_sym}").present? %>
      <%= render partial: "authorization_request_forms/shared/scopes_group_documentation_accordion", locals: { f:, group_name: } %>
    <% end %>

    <div class="scopes-group__grid">
      <% scopes.each do |scope| %>
        <%= f.dsfr_scope scope %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @authorization_request.respond_to?(:specific_requirements) %>
  <%= render partial: "authorization_request_forms/shared/specific_requirements", locals: { f: f } %>
<% end %>

<%= f.hidden_field :scopes, value: '', name: "#{@authorization_request.model_name.param_key}[scopes][]" %>
