<%= f.info_for(:scopes) %>

<% @authorization_request.available_scopes.group_by(&:group).each do |group_name, scopes| %>
  <div class="fr-form-group scopes-group">
    <% if @authorization_request.errors.key?(:scopes) %>
      <div class="fr-alert fr-alert--warning fr-alert--sm fr-mb-3w" role="alert">
        <ul>
          <% @authorization_request.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h5 class="scopes-group__title">
      <%= group_name %>
    </h5>

    <div class="scopes-group__grid">
      <% scopes.each do |scope| %>
        <%= f.dsfr_scope scope %>
      <% end %>
    </div>
  </div>
<% end %>

<%= f.hidden_field :scopes, value: '', name: "#{@authorization_request.model_name.param_key}[scopes][]" %>
