<% authorization_request = authorization_request.decorate %>

<div class="authorization-request-card authorization-request fr-background-default--grey fr-mb-3w" id="<%= dom_id(authorization_request) %>">
  <div class="card__wrapper fr-p-10v">

    <div class="flex-space-between__content">

      <div class="card__content">
        <div class="card__title fr-text-title--blue-france fr-h4 fr-m-0">
          <%= authorization_request.truncated_name(50) %>
        </div>

        <div class="card__details">
          <% if authorization_request.only_in_contacts?(current_user) %>
            <p class="fr-text--xs fr-text-grey fr-my-2w">
              <%= "#{authorization_request.definition.name} - #{t('.current_user_mentions', contact_types: authorization_request.humanized_contact_types_for(current_user).to_sentence)}" %>            </p>
          <% elsif authorization_request.applicant == current_user %>
            <p class="fr-text--xs fr-text-grey fr-my-2w">
              <%= "#{authorization_request.definition.name} - #{t('.current_user_is_applicant')}" %>
            </p>
          <% else %>
            <p class="fr-text--xs fr-text-grey fr-my-2w">
              <%= "#{t('dashboard.card.authorization_request_card.applicant_request', definition_name: authorization_request.definition.name, applicant_full_name: authorization_request.applicant.full_name)}" %>
            </p>
          <% end %>
        </div>

        <div class="card__desc">
          <p>
            <%= t('.created_at') %> <%= l(authorization_request.created_at, format: '%d/%m/%Y') %>
          </p>
        </div>
      </div>

      <%= render partial: 'dashboard/card/card_badge', locals: { authorization_request: authorization_request } %>
    </div>

    <div class="card__actions flex-space-between__content">
      <div class="card__access_link">
        <% if authorization_request.access_link && authorization_request.validated? %>
          <%= link_to t('.access_link_cta'), authorization_request.access_link, class: 'fr-link fr-icon-links-line fr-link--icon-left', target: :blank %>
        <% end %>
      </div>

      <div class="card__actions_btn">
        <% if policy(authorization_request).reopen? %>
          <%= dsfr_main_modal_button t('.reopen_cta'), new_authorization_reopen_path(authorization_request.latest_authorization), class: %w(fr-btn fr-btn--secondary fr-btn--sm) %>
        <% end %>

        <% if authorization_request.already_been_validated? %>
          <%= link_to t('.show_cta'), latest_authorization_path(authorization_request), class: %w(fr-btn fr-btn--sm) %>
        <% else %>
          <%= link_to t('.show_cta'), authorization_request_form_path(form_uid: authorization_request.form.uid, id: authorization_request.id), class: %w(fr-btn fr-btn--sm) %>
        <% end %>
      </div>
    </div>
  </div>

  <% if authorization_request.reopening? %>
    <%= render partial: 'dashboard/card/card_reopening_footer', locals: { authorization_request: authorization_request } %>
  <% end %>

  <% if policy(authorization_request).messages? && authorization_request.unread_messages_from_applicant_count > 0 %>
    <div class="unread-message-dot">
      <%= authorization_request.unread_messages_from_applicant_count %>
    </div>
  <% end %>
</div>
