<div
  id="<%= dom_id(authorization_request_form) %>"
  class="
    fr-tile fr-tile--horizontal fr-enlarge-link authorization-request-form-card
  "
>
  <div class="fr-tile__body">
    <div class="fr-tile__content">
      <h3 class="fr-h6 fr-tile__title fr-text-title--blue-france">
        <%= link_to authorization_request_form.name, new_authorization_request_form_path(form_uid: authorization_request_form.id), **({} || additional_link_attributes) %>
      </h3>
      <p class="fr-tile__detail">
        <%= authorization_request_form.description %>
      </p>
      <% if authorization_request_form.service_provider %>
        <div class="fr-tile__start">
          <p class="fr-badge fr-badge--sm">
            <%= t("authorization_requests.shared.service_provider.through_#{authorization_request_form.service_provider.type}", service_provider_name: authorization_request_form.service_provider.name) %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
  <% if authorization_request_form.use_case && File.exist?(Rails.root.join("app/assets/images/pictograms/authorization_requests/#{authorization_request_form.use_case}.svg")) %>
    <div class="fr-tile__header">
      <div class="fr-tile__pictogram">
        <%= dsfr_custom_pictogram(
          "pictograms/authorization_requests/#{authorization_request_form.use_case}.svg",
        ) %>
      </div>
    </div>
  <% end %>
</div>
