<%= render partial: 'authorization_request_forms/build/header', locals: { f: } %>

<div class="fr-container">
  <%= render partial: 'shared/alerts' %>

  <% if @authorization_request.refused? %>
    <div class="fr-alert fr-alert--error fr-mb-2v">
      <h3 class="fr-alert__title">
        <% if @authorization_request.reopening? %>
          <%= t("authorization_requests.show.reopening_refused.title") %>
        <% else %>
          <%= t("authorization_requests.show.refused.title") %>
        <% end %>
      </h3>

      <% if @authorization_request.reopening? %>
        <%= t('authorization_requests.show.reopening_refused.description') %>
      <% else %>
        <%= t("authorization_requests.show.refused.description") %>
      <% end %>

      <blockquote>
        <%= simple_format(@authorization_request.denial.reason) %>
      </blockquote>
    </div>
  <% end %>

  <% if within_wizard? %>
    <%=
      dsfr_stepper(
        current_step: authorization_request_step_name(@authorization_request, english_step_name(params[:id])),
        steps: @authorization_request.form.steps.map { |step| authorization_request_step_name(@authorization_request, step[:name]) }
      )
    %>
  <% end %>

  <% if within_wizard? || within_edit? %>
    <%= render partial: "authorization_request_forms/shared/block_titles", locals: { f: f, block_name: english_step_name(params[:id]) } %>
  <% end %>

  <%= yield %>
</div>

<% if content_for? :sticky_bar %>
  <div class="fr-my-5w fr-py-2w sticky-bar" data-controller="sticky-bar">
    <div class="fr-container-fluid">
      <%= yield :sticky_bar %>
    </div>
  </div>
<% end %>
