<%= render partial: 'authorization_request_forms/build/header', locals: { f: } %>

<div class="fr-container">
  <%= render partial: 'shared/alerts' %>

  <% if within_wizard? %>
    <%=
      dsfr_stepper(
        current_step: authorization_request_step_name(@authorization_request, english_step_name(params[:id])),
        steps: @authorization_request.form.steps.map { |step| authorization_request_step_name(@authorization_request, step[:name]) }
      )
    %>
  <% end %>

  <% if within_wizard? || within_edit? %>
    <%= render partial: "authorization_request_forms/shared/block_titles", locals: { f: f, block_name: english_step_name(params[:id]) } %>
  <% end %>

  <% if single_page_form?(@authorization_request) && !within_edit? && !within_summary? %>
    <%= render partial: "authorization_request_forms/shared/prefilled_banner" %>
  <% end %>

  <%= yield %>
</div>

<% if content_for? :sticky_bar %>
  <div class="fr-my-5w fr-py-2w sticky-bar" data-controller="sticky-bar">
    <div class="fr-container-fluid">
      <%= yield :sticky_bar %>
    </div>
  </div>
<% end %>
