<% if within_wizard? %>
  <% provide_title t('.wizard_page_title',
      step_name: authorization_request_step_name(@authorization_request, english_step_name(params[:id])),
      definition_name: @authorization_request.definition.name,
      authorization_request_name: @authorization_request.name) %>
<% elsif @authorization_request.present? %>
  <% provide_title t('.single_page_title',
      definition_name: @authorization_request.definition.name) %>
<% end %>

<%= render partial: 'authorization_request_forms/build/header', locals: { f: } %>

<div class="fr-container">
  <%= render partial: 'shared/alerts' %>

  <% if within_wizard? %>
    <%=
      dsfr_stepper(
        current_step: authorization_request_step_name(@authorization_request, english_step_name(params[:id])),
        steps: @authorization_request.form.steps.map { |step| authorization_request_step_name(@authorization_request, step[:name]) }
      )
    %>
  <% end %>

  <% if within_wizard? || within_edit? %>
    <%= render partial: "authorization_request_forms/shared/block_titles", locals: { f: f, block_name: english_step_name(params[:id]) } %>
  <% end %>

  <%= yield %>

  <%= render partial: "authorization_request_forms/shared/hidden_params", locals: { f: f } %>
</div>

<% if content_for? :sticky_bar %>
  <div class="fr-my-5w fr-py-2w sticky-bar" data-controller="sticky-bar">
    <div class="fr-container-fluid">
      <%= yield :sticky_bar %>
    </div>
  </div>
<% end %>
