<%= render 'authorization_request_forms/build/header' %>

<%= render partial: 'authorization_request_forms/shared/organization' %>

<%= authorization_request_form(@authorization_request) do |f| %>
  <div class="fr-mt-2w">
    <h3>
      <%= "Information de base" %>
    </h3>
  </div>

  <div class="fr-mt-2w">
    <%= render partial: 'authorization_request_forms/shared/basic_infos', locals: { f: f } %>
  </div>

  <div class="fr-mt-2w">
    <h3>
      <%= "Données personnelles" %>
    </h3>
  </div>

  <div class="fr-mt-2w">
    <%= render partial: 'authorization_request_forms/shared/personal_data', locals: { f: f } %>
  </div>

  <div class="fr-mt-2w">
    <h3>
      <%= "Contacts" %>
    </h3>
  </div>

  <div class="fr-mt-2w">
    <%= f.contacts_infos(%i[responsable_traitement delegue_protection_donnees contact_technique]) %>
  </div>

  <div class="fr-container-fluid">
    <div class="fr-grid-row">
      <% %i[responsable_traitement delegue_protection_donnees contact_technique].each do |contact_type| %>
        <%= render partial: 'authorization_request_forms/shared/contact', locals: { contact_type:, f: } %>
      <% end %>
    </div>
  </div>

  <%= render partial: 'authorization_request_forms/shared/tos_checkboxes', locals: { f: f } %>
  <%= render partial: 'authorization_request_forms/shared/submit_buttons', locals: { f: f } %>
<% end %>
