<%= authorization_request_form(@authorization_request) do |f| %>
  <p class="fr-alert fr-alert--info fr-my-3w">
    Ce formulaire simplifié vous permet d'obtenir une habilitation pour un logiciel pré-configuré de l'éditeur <%= @authorization_request.form.editor.name %>. Une partie des informations
    contractuelles sont fixes et ne peuvent être modifiées. Celles-ci vous seront résumées à la prochaine étape, et ne nécessitent aucune intervention de votre part.
  </p>

  <div class="fr-mt-2w">
    <%= render partial: "authorization_request_forms/shared/block_titles", locals: { f: f, block_name: :legal } %>

    <%= render partial: 'authorization_request_forms/shared/legal', locals: { f: f } %>
  </div>

  <div class="fr-mt-2w">
    <%= render partial: "authorization_request_forms/shared/block_titles", locals: { f: f, block_name: :personal_data } %>

    <%= render partial: 'authorization_request_forms/shared/personal_data', locals: { f: } %>
  </div>

  <div class="fr-mt-2w">
    <%= render partial: "authorization_request_forms/shared/block_titles", locals: { f: f, block_name: :scopes } %>
  </div>

  <div class="fr-container-fluid">
    <%= render partial: 'authorization_request_forms/shared/scopes', locals: { f: } %>
  </div>

  <div class="fr-mt-2w">
    <%= render partial: "authorization_request_forms/shared/block_titles", locals: { f: f, block_name: :contacts } %>

    <div class="fr-container-fluid">
      <div class="fr-grid-row">
        <% %i[contact_technique responsable_traitement delegue_protection_donnees].each do |contact_type| %>
          <%= render partial: 'authorization_request_forms/shared/contact', locals: { contact_type:, f: } %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render partial: 'authorization_request_forms/shared/submit_buttons', locals: { f: f } %>
<% end %>
