<%= render 'authorization_request_forms/build/header' %>

<%= render partial: 'authorization_request_forms/shared/organization' %>

<%= authorization_request_form(@authorization_request) do |f| %>
  <fieldset class="fr-fieldset" aria-label="feedme" aria-describedby="name-1-fieldset-messages">
    <h3>
      <%= t('authorization_request_forms.api_infinoe_production.sandbox_authorization_request.title') %>
    </h3>

    <div class="fr-fieldset__element">
      <%=
        t(
          'authorization_request_forms.api_infinoe_production.sandbox_authorization_request.description',
          authorization_request_name: @authorization_request.sandbox_authorization_request.name,
          authorization_request_link: link_to('Lien', authorization_request_form_path(form_uid: @authorization_request.sandbox_authorization_request.form.uid, id: @authorization_request.id))
        ).html_safe
      %>
    </div>
  </fieldset>

  <fieldset class="fr-fieldset" aria-label="feedme" aria-describedby="name-1-fieldset-messages">
    <h3>
      <%= t('authorization_request_forms.api_infinoe_production.recette_fonctionnelle.title') %>
    </h3>

    <div class="fr-fieldset__element">
      <%= f.dsfr_check_box :recette_fonctionnelle %>
    </div>
  </fieldset>

  <fieldset class="fr-fieldset" aria-label="feedme" aria-describedby="name-1-fieldset-messages">
    <h3>
      <%= t('authorization_request_forms.api_infinoe_production.homologation.title') %>
    </h3>

    <div class="fr-fieldset__element">
      <%= f.dsfr_text_field :homologation_autorite_nom %>
    </div>

    <div class="fr-fieldset__element">
      <%= f.dsfr_text_field :homologation_autorite_fonction %>
    </div>

    <div class="fr-fieldset__element">
      <%= f.dsfr_date_field :homologation_date_debut %>
    </div>

    <div class="fr-fieldset__element">
      <%= f.dsfr_date_field :homologation_date_fin %>
    </div>
  </fieldset>

  <fieldset class="fr-fieldset" aria-label="feedme" aria-describedby="name-1-fieldset-messages">
    <h3>
      <%= t('authorization_request_forms.api_infinoe_production.volumetrie.title') %>
    </h3>

    <div class="fr-fieldset__element">
      <%= f.dsfr_select :volumetrie_appels_par_minute, [['1000 appels', '1000'], ['2000 appels', '2000']] %>
    </div>
  </fieldset>

  <%= render partial: 'authorization_request_forms/shared/tos_checkboxes', locals: { f: f } %>
  <%= render partial: 'authorization_request_forms/shared/submit_buttons', locals: { f: f } %>
<% end %>
