<%= authorization_request_form(@authorization_request) do |f| %>
  <%= render partial: 'authorization_request_forms/shared/prefilled_banner_for_single_page_form' %>

  <div class="fr-mt-2w">
    <%= render partial: "authorization_request_forms/shared/block_titles", locals: { f: f, block_name: :basic_infos } %>
    <%= render_custom_form_or_default(@authorization_request, "basic_infos", { f: }) %>
  </div>

  <div class="fr-mt-4w">
    <%= render partial: "authorization_request_forms/shared/block_titles", locals: { f: f, block_name: :contacts } %>
    <%= render_custom_form_or_default(@authorization_request, "contacts", { f: }) %>
  </div>

  <%= render partial: 'authorization_request_forms/shared/submit_buttons', locals: { f: f } %>
<% end %>
