<div class="sub-header">
  <h1 class="fr-m-0">
    <%= t('.title') %>
  </h1>
</div>

<% @authorization_request_forms.each do |authorization_requests_form| %>
  <div class="data-provider" id="<%= dom_id(authorization_requests_form) %>">
    <div class="data-provider-logo">
      <%= image_tag(provider_logo_path(authorization_requests_form)) %>
    </div>
    <div class="data-provider-info">
      <div class="data-provider-title">
        <%= authorization_requests_form.name %>
      </div>
      <div class="data-provider-description">
        <%= authorization_requests_form.description %>
      </div>
    </div>
    <div class="data-provider-cta">
      <%= link_to t('.cta'), new_authorization_request_path(form_uid: authorization_requests_form.uid), class: %w(fr-btn fr-btn--sm) %>
    </div>
  </div>
<% end %>
