<%= render 'authorization_request_forms/build/header' %>

<% if @authorization_request.only_in_contacts?(current_user) %>
  <div class="fr-alert fr-alert--info">
    <%= t('.current_user_mentions', contact_types: @authorization_request.humanized_contact_types_for(current_user).to_sentence) %>
  </div>
<% end %>

<%= render partial: 'authorization_request_forms/shared/organization' %>

<%= authorization_request_form(@authorization_request) do |f| %>
  <% @authorization_request.form.steps.each do |step| %>
    <%= render partial: "authorization_request_forms/shared/#{step[:name]}", locals: { f: f } %>
  <% end %>
<% end%>
