<h2 class="fr-mt-16v">
  <%= t(".#{@authorization_definition.kind}.title",
    authorization_name: @authorization_request_form.authorization_definition.name,
    count: @authorization_request_form.authorization_definition.id == 'hubee_dila' ? 2 : 1) %>
</h2>

<div class="fr-mb-4w">
  <% if policy(@authorization_request_form).create? %>
    <div class="border-frame-text fr-my-6w">
      <% if @authorization_request_form.name.present? || @authorization_definition.kind == 'service' %>
        <%= simple_format t(".#{@authorization_definition.kind}.organization.start_text_with_form_name",
          organization_raison_sociale: current_organization.raison_sociale,
          organization_siret: current_organization.siret,
          authorization_request_form_name: @authorization_definition.kind == 'service' ? @authorization_request_form.authorization_definition.name : @authorization_request_form.name,
          count: @authorization_request_form.authorization_definition.id == 'hubee_dila' ? 2 : 1),
          {}, wrapper_tag: 'div' %>
      <% else %>
        <%= simple_format t(".#{@authorization_definition.kind}.organization.start_text",
          organization_raison_sociale: current_organization.raison_sociale,
          organization_siret: current_organization.siret,
          count: @authorization_request_form.authorization_definition.id == 'hubee_dila' ? 2 : 1),
          {}, wrapper_tag: 'div' %>
      <% end %>
    </div>
  <% else %>
    <% authorization_request = @authorization_request_form.active_authorization_requests_for(current_organization).first %>
    <%= render partial: "unicity_callout", locals: { authorization_request: } if authorization_request.present? %>
  <% end %>

  <% if @authorization_request_form.introduction.present? %>
    <div class="fr-my-16v">
        <h5>
          <%= t(".#{@authorization_definition.kind}.intro.title") %>
        </h5>
        <%= simple_format(@authorization_request_form.introduction) %>
    </div>
  <% end %>

  <% if @authorization_request_form.multiple_steps? %>
    <% if policy(@authorization_request_form).new? %>
      <h5>
        <%= t('.multiple_steps.title') %>
      </h5>
      <p>
        <%= t('.multiple_steps.description') %>

        <ol>
          <% @authorization_request_form.steps.each do |step| %>
            <li>
              <%= authorization_request_step_name(@authorization_request_form.authorization_request_class.new, step[:name]) %>
            </li>
          <% end %>
        </ol>

        <div class="fr-grid-row fr-my-16v">
          <div class="fr-col">
            <%= link_to t('authorization_request_forms.new.back_to_dashboard'), dashboard_path, class: %w[fr-btn fr-btn--secondary fr-icon-home-4-line fr-btn--icon-left fr-mr-2w] %>
          </div>
          <%= start_authorization_request_form(@authorization_request_form) %>
        </div>
      </p>
    <% else %>
      <div class="fr-grid-row fr-my-16v">
        <div class="fr-col">
          <%= link_to t('authorization_request_forms.new.back_to_dashboard'), dashboard_path, class: %w[fr-btn fr-btn--secondary fr-icon-home-4-line fr-btn--icon-left fr-mr-2w] %>
        </div>
        <%= start_authorization_request_form(@authorization_request_form, disabled: true) %>
      </div>
    <% end %>
  <% else %>
    <div class="fr-my-16v">
      <h5>
        <%= t(".#{@authorization_definition.kind}.single_form.title") %>
      </h5>

      <p>
        <%= simple_format t(".#{@authorization_definition.kind}.single_form.description", service_name: @authorization_request_form.authorization_definition.service_name) %>
      </p>
    </div>
    <div class="fr-grid-row fr-my-16v">
      <div class="fr-col">
        <%= link_to t('authorization_request_forms.new.back_to_dashboard'), dashboard_path, class: %w[fr-btn fr-btn--secondary fr-icon-home-4-line fr-btn--icon-left fr-mr-2w] %>
      </div>

      <%= start_authorization_request_form(@authorization_request_form, disabled: !policy(@authorization_request_form).create?) %>
    </div>
  <% end %>
</div>
