<% set_title! t('page_titles.authorization_request_new', authorization_name: @authorization_request_form.authorization_definition.name) %>

<h2 class="fr-mt-16v">
  <%= t(".title", authorization_name: @authorization_request_form.authorization_definition.name) %>
</h2>

<div class="fr-mb-4w">
  <%= render 'authorization_request_forms/introduction',
      authorization_request_form: @authorization_request_form,
      organization: current_organization,
      start_next_stage: @start_next_stage %>

  <div class="fr-grid-row fr-my-16v">
    <div class="fr-col">
      <%= link_to t('authorization_request_forms.new.back_to_dashboard'), dashboard_path, class: %w[fr-btn fr-btn--secondary fr-icon-home-4-line fr-btn--icon-left fr-mr-2w] %>
    </div>

    <% if @authorization_request.present? %>
      <%= button_to t('start_next_authorization_request_stage_form.cta'), next_authorization_request_stage_path(@authorization_request), class: %w[fr-btn fr-icon-save-line fr-btn--icon-left] %>
    <% else %>
      <%= start_authorization_request_form(@authorization_request_form, disabled: @entity_eligibility_verdict&.ineligible? || !(@start_next_stage || policy(@authorization_request_form).create?)) %>
    <% end %>
  </div>
</div>
