<%= authorization_request_form(@authorization_request) do |f| %>
  <%= render partial: 'authorization_request_forms/current_user_mentions_alert' %>

  <div id="<%= dom_id(@authorization_request, :summary) %>" class="fr-mt-4w">
    <% if !displayed_on_a_public_page? && @authorization_request.changes_requested? %>
      <div class="fr-alert fr-alert--warning fr-my-3w">
        <h3 class="fr-alert__title">
          <% if @authorization_request.reopening? %>
            <%= t("authorization_requests.show.reopening_changes_requested.title") %>
          <% else %>
            <%= t("authorization_requests.show.changes_requested.title") %>
          <% end %>
        </h3>

        <% if @authorization_request.reopening? %>
          <%= t('authorization_requests.show.reopening_changes_requested.description') %>
        <% else %>
          <%= t("authorization_requests.show.changes_requested.description") %>
        <% end %>

        <blockquote>
          <%= simple_format(@authorization_request.modification_request.reason) %>
        </blockquote>
      </div>
    <% end %>

    <% if @authorization %>
      <% if @authorization.latest? && @authorization.request.reopening? %>
        <div class="fr-alert fr-alert--info fr-mb-4v">
          <h3 class="fr-alert__title">
            <%= t('authorization_request_forms.summary.reopening_alerts.update_in_progress.title') %>
          </h3>
          <%= t('authorization_request_forms.summary.reopening_alerts.update_in_progress.message', link: link_to("Demande de mise à jour n°#{@authorization.request.id}", authorization_request_path(@authorization.request))).html_safe %>
        </div>
      <% elsif !@authorization.latest? %>
        <div class="fr-alert fr-alert--warning fr-mb-4v">
          <h3 class="fr-alert__title">
            <%= t('authorization_request_forms.summary.reopening_alerts.old_version.title') %>
          </h3>
          <%= t('authorization_request_forms.summary.reopening_alerts.old_version.message', link: link_to("Habilitation n°#{@authorization_request.latest_authorization.id}", authorization_request_authorization_path(authorization_request_id: @authorization.request.id, id: @authorization.request.latest_authorization.slug))).html_safe %>
        </div>
      <% end %>
    <% end %>

    <% if !displayed_on_a_public_page? && @authorization_request.access_link && @authorization_request.validated? %>
      <div class="fr-callout fr-my-16v">
        <h3 class="fr-callout__title">
          <%= t('authorization_requests.show.access_callout.title') %>
        </h3>

        <%= simple_format t('authorization_requests.show.access_callout.content', access_name: @authorization_request.name), { class: 'fr-callout__text' }, wrapper_tag: 'p' %>

        <%= link_to t('authorization_requests.show.access_callout.button'), @authorization_request.access_link, class: 'fr-btn fr-btn--icon-right fr-icon-external-link-line', target: :blank %>
      </div>
    <% end %>


    <% if @authorization_request.draft? %>
      <% if @authorization_request.reopening? && @authorization_request.applicant == current_user %>
        <%= render partial: 'authorization_requests/shared/reopening_callout', locals: { klass: 'fr-mt-6w' } %>
      <% elsif !displayed_on_a_public_page? %>
        <h2 class="fr-h3">
          <%= t('authorization_request_forms.summary.title') %>
        </h2>

        <p>
          <%= t('authorization_request_forms.summary.description').html_safe %>
        </p>
      <% end %>
    <% end %>

    <% if @authorization_request.filling? %>
      <%= render partial: 'authorization_requests/shared/organization_and_applicant' %>

      <% @authorization_request.blocks.each do |block| %>
        <%= render partial: "authorization_requests/shared/blocks/#{block[:name]}", locals: { f: f, editable: block[:editable] } %>
      <% end %>
    <% else %>
      <%= render partial: 'authorization_requests/shared/organization_and_applicant' %>

      <% @authorization_request.blocks.each do |block| %>
        <%= render partial: "authorization_requests/shared/blocks/#{block[:name]}", locals: { f: f, editable: false } %>
      <% end %>
    <% end %>

    <% if @authorization_request.draft? && !@authorization_request.reopening? %>
      <%= render partial: 'authorization_request_forms/shared/tos_checkboxes', locals: { f: f } %>
    <% end %>
  </div>
  
  <% if policy(@authorization_request).cancel_reopening? %>
    <% content_for :sticky_bar do %>
      <div class="fr-container fr-grid-row">
        <div class="fr-col-12">
          <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--icon-left fr-btns-group--between">
            <li>
              <%= dsfr_main_modal_button(t('authorization_request_forms.form.cancel_reopening'), new_authorization_request_cancel_reopening_path(@authorization_request), class: %w(fr-btn fr-btn--secondary fr-icon-arrow-left-s-line-double fr-btn--icon-left)) %>
            </li>
            <li class="fr-ml-auto">
              <%= f.button t('authorization_request_forms.form.submit_reopening'), disabled: !policy(@authorization_request).submit_reopening?, type: :submit, name: :submit, id: :submit_authorization_request, class: %w(fr-btn fr-icon-checkbox-line fr-btn--icon-left) %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  <% elsif policy(@authorization_request).submit? %>
    <% content_for :sticky_bar do %>
      <div class="fr-container fr-grid-row">
        <div class="fr-col-12">
          <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--icon-left fr-btns-group--between">
            <li class="fr-ml-auto">
              <%= f.button t('authorization_request_forms.form.submit'), type: :submit, name: :submit, id: :submit_authorization_request, class: %w(fr-btn fr-icon-checkbox-line fr-btn--icon-left) %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
