<%= authorization_request_form(@authorization_request) do |f| %>
  <%= render partial: 'authorization_request_forms/current_user_mentions_alert' %>

  <div id="<%= dom_id(@authorization_request, :summary) %>">
    <% if @authorization_request.changes_requested? %>
      <div class="fr-alert fr-alert--warning fr-mb-2v">
        <h3 class="fr-alert__title">
          <% if @authorization_request.reopening? %>
            <%= t("authorization_requests.show.reopening_changes_requested.title") %>
          <% else %>
            <%= t("authorization_requests.show.changes_requested.title") %>
          <% end %>
        </h3>

        <% if @authorization_request.reopening? %>
          <%= t('authorization_requests.show.reopening_changes_requested.description') %>
        <% else %>
          <%= t("authorization_requests.show.changes_requested.description") %>
        <% end %>

        <blockquote>
          <%= simple_format(@authorization_request.modification_request.reason) %>
        </blockquote>
      </div>
    <% end %>

    <% if @authorization %>
      <% if @authorization.latest? && @authorization.request.reopening? %>
        <div class="fr-alert fr-alert--info fr-mb-4v">
          <h3 class="fr-alert__title">
            Une mise à jour de cette demande est en cours.
          </h3>

          Vous avez initié une mise à jour de cette habilitation. Vous pouvez y accéder en cliquant ici : <%= link_to "Demande de mise à jour n°#{@authorization.request.id}", authorization_request_path(@authorization.request) %>
        </div>
      <% elsif !@authorization.latest? %>
        <div class="fr-alert fr-alert--warning fr-mb-4v">
          <h3 class="fr-alert__title">
            Attention, vous consultez une version ancienne de cette habilitation
          </h3>

          Il existe une version plus récente de cette habilitation que vous pouvez consulter en cliquant ici : <%= link_to "Habilitation n°#{@authorization_request.latest_authorization.id}", @authorization_request.latest_authorization %>
        </div>
      <% end %>
    <% end %>

    <% if @authorization_request.draft? %>
      <% if @authorization_request.reopening? && @authorization_request.applicant == current_user %>
        <div class="fr-alert fr-alert--info fr-mb-4v">
          <h3 class="fr-alert__title">
            Mise à jour de l'habilitation
          </h2>

          <p>
            Il s'agit d'une mise à jour d'une habilitation validée. Si celle-ci est rejetée, votre habilitation initiale sera toujours valide et les informations restaurées à la version initiale.

            <br />

            Vous pouvez consulter à tout moment l'habilitation validée sur le lien suivant : <%= link_to "Habilitation n°#{@authorization_request.latest_authorization.id}", @authorization_request.latest_authorization %>

            <% if @authorization_request.static_blocks.any? %>
              <br />
              Une partie des informations ci-dessous ont été pré-remplies en accord avec le type de formulaire que vous avez sélectionné et ne sont pas modifiables.
            <% end %>
          </p>
        </div>
      <% else %>
        <h2>
          Récapitulatif de votre demande
        </h2>

        <p>
          Vous avez complété toutes les étapes de votre demande.
          <br />
          Merci de vérifier que les informations ci-dessous sont correctes et d'accepter les conditions générales d'utilisation.

          <% if @authorization_request.static_blocks.any? %>
            <br />
            Une partie des informations ci-dessous ont été pré-remplies en accord avec le type de formulaire que vous avez sélectionné et ne sont pas modifiables.
          <% end %>
        </p>
      <% end %>
    <% end %>

    <% if @authorization_request.draft? && !@authorization_request.reopening? %>
      <%= render partial: 'authorization_request_forms/shared/tos_checkboxes', locals: { f: f } %>
    <% end %>

    <% if @authorization_request.filling? %>
      <% @authorization_request.editable_blocks.each do |block| %>
        <%= render partial: "authorization_requests/shared/blocks/#{block[:name]}", locals: { f: f, editable: true } %>
      <% end %>

      <% if @authorization_request.static_blocks.any? %>
        <h3>
          Les informations pré-remplies
        </h3>
        <p>
          Les informations suivantes ont été pré-remplies et ne sont pas modifiables.
        </p>

        <% @authorization_request.static_blocks.each do |block| %>
          <%= render partial: "authorization_requests/shared/blocks/#{block[:name]}", locals: { f: f, editable: false } %>
        <% end %>
      <% end %>
    <% else %>
        <% @authorization_request.blocks.each do |block| %>
          <%= render partial: "authorization_requests/shared/blocks/#{block[:name]}", locals: { f: f, editable: false } %>
        <% end %>
    <% end %>

    <% if policy(@authorization_request).submit? %>
      <div class="fr-btns-group fr-btns-group--inline-lg fr-btns-group--icon-left fr-btns-group--right">
        <%= f.button t('authorization_request_forms.form.submit'), type: :submit, name: :submit, id: :submit_authorization_request, class: %w(fr-btn fr-btn--sm fr-icon-checkbox-line fr-btn--icon-left) %>
      </div>
    <% end %>
  <% end %>
</div>
