
<% if local_assigns[:contact_type] %>
  <% contact_definition = @authorization_request.contact_definitions.find { |contact_definition| contact_definition.type == contact_type } %>
<% end %>

<div class="fr-col-12 fr-col-lg-6">
  <div id="<%= dom_id(@authorization_request, contact_definition.type) %>" data-controller="fill-contact-data-with-applicant-data" class="fr-basic-card contact-form-card" data-fill-contact-data-with-applicant-data-applicant-data-value="<%= current_user.attributes.slice('family_name', 'given_name', 'email', 'phone_number', 'job_title').to_json %>">

    <div class="fr-grid-row fr-grid-row--top">
      <h6 class="contact-form-card__title fr-col fr-mr-2w">
        <%= t("authorization_request_forms.default.#{contact_definition.type}.title") %>
      </h6>

      <button type="button" class="fr-btn fr-btn--secondary fr-btn--sm" data-action="fill-contact-data-with-applicant-data#perform">
        <%= t('authorization_request_forms.shared.contact.its_me') %>
      </button>
    </div>

    <% if @authorization_request.contact_info(contact_definition.type).present? %>
      <p class="contact-form-card__info">
        <%= @authorization_request.contact_info(contact_definition.type).html_safe %>
      </p>
    <% end %>

    <fieldset class="fr-fieldset" aria-label="feedme" aria-describedby="name-1-fieldset-messages">
      <% @authorization_request.class.contact_attributes.each do |contact_attribute| %>
        <% next if @authorization_request.skip_contact_attribute?(contact_definition.type, contact_attribute) %>

        <div class="fr-fieldset__element">
          <% if contact_attribute == 'email' %>
            <% html_options = contact_definition.required_personal_email? ? { data: { controller: 'individual-email-checker' } } : {} %>

            <%= f.dsfr_email_field("#{contact_definition.type}_#{contact_attribute}", html_options.merge(required: true)) %>
          <% else %>
            <%= f.dsfr_text_field("#{contact_definition.type}_#{contact_attribute}", required: true) %>
          <% end %>
        </div>
      <% end %>

      <% if contact_definition.type == :contact_technique %>
        <div class="fr-fieldset__element">
          <hr class="fr-mt-3w">
          <p>
            <span class="fr-text--lg legal-text__bold">
              <%= t("authorization_request_forms.api_impot_particulier.contact_technique.extra.title") %>
            </span>

            <br>
            <%= t("authorization_request_forms.api_impot_particulier.contact_technique.extra.info") %>
          </p>
          <%= f.dsfr_email_field(:contact_technique_extra_email) %>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>

