<section class="definition-block" aria-labelledby="<%= title_id %>">
  <div class="definition-block__header">
    <%= content_tag(:h3, class: 'definition-block__title', id: title_id) do %>
      <%= title %>
      <% if static_block? %>
        <span class="fr-tag fr-icon-eye-off-line fr-tag--icon-left fr-tag--sm fr-ml-2w definition-block__static-tag">
          <%= t('atoms.definition_block_component.static_block') %>
        </span>
      <% end %>
    <% end %>
  </div>
  <div class="definition-block__preview <%= 'definition-block__static-stripes' if static_block? %>" inert>
    <div class="definition-block__card <%= block_card_class %>">
      <%= content %>
    </div>
  </div>
</section>
