<section class="definition-block" aria-labelledby="<%= title_id %>">
  <div class="definition-block__header">
    <h2 class="definition-block__title" id="<%= title_id %>">
      <%= title %>
      <% if static_block? %>
        <span class="fr-tag fr-icon-eye-off-line fr-tag--icon-left fr-tag--sm fr-ml-2w">
          <%= t('atoms.edit_definition_block_component.static_block') %>
        </span>
      <% end %>
    </h2>
    <% if can_edit? %>
      <button type="button"
              class="fr-btn fr-btn--secondary fr-btn--sm fr-icon-edit-line fr-btn--icon-left"
              aria-label="<%= modify_button_title %>"
              aria-controls="<%= side_panel_id %>"
              aria-expanded="false"
              aria-haspopup="dialog"
              data-action="click->side-panel#open"
              data-side-panel-title-param="<%= modify_button_title %>">
        Modifier
      </button>
    <% end %>
  </div>
  <div class="definition-block__preview" inert>
    <div class="definition-block__card">
      <%= content %>
    </div>
  </div>
</section>
