<%= render layout: 'authorization_requests/shared/blocks/summary_block', locals: { authorization_request:, title: f.wording_for('steps.scopes'), block_id: :scopes, f:, editable: } do %>
  <%
    show_fc_fields = if local_assigns[:authorization]
      local_assigns[:authorization].authorization_request_class == 'AuthorizationRequest::FranceConnect'
    else
      authorization_request.is_a?(AuthorizationRequest::FranceConnect) ||
        (authorization_request.respond_to?(:france_connect_modality?) &&
         authorization_request.france_connect_modality? &&
         authorization_request.france_connect_certified_form?)
    end
    grouped_scopes = authorization_request.available_scopes.group_by(&:group)
  %>

  <% grouped_scopes.each do |group_name, scopes| %>
    <% next if group_name == 'FranceConnect' && !show_fc_fields %>

    <div class="fr-form-group scopes-group">
      <h3 class="scopes-group__title fr-h5">
        <%= group_name %>
      </h3>

      <div class="scopes-group__grid">
        <% scopes.each do |scope| %>
          <%= f.dsfr_scope scope, disabled: true %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if authorization_request.legacy_scope_values.any? %>
    <p><%= t('authorization_requests.shared.blocks.scopes.legacy_scopes') %></p>

    <ul>
      <% authorization_request.legacy_scope_values.each do |legacy_scope_value| %>
        <li><%= legacy_scope_value %></li>
      <% end %>
    </ul>
  <% end %>

<% end %>
