<% action_label = t('.title') %>
<% set_title! t('page_titles.instruction_definition_blocks', definition_name: @authorization_definition.name_with_stage, action: action_label) %>

<%= render Molecules::Instruction::AuthorizationDefinition::TitledHeaderComponent.new(
      authorization_definition: @authorization_definition,
      title: action_label) %>

<div class="fr-container fr-my-5w">

  <h2 class="fr-mb-1w fr-mt-5w">
    <%= t('.introduction_title') %>
  </h2>

  <p class="fr-col-md-6 fr-mb-3w">
    <%= t('.introduction_subtitle') %>
  </p>

  <%= render Atoms::DefinitionBlockComponent.new(title: t('.introduction')) do %>
    <%= render 'authorization_request_forms/introduction', authorization_request_form: @default_form, organization: @preview_organization %>
  <% end %>

  <h2 class="fr-mb-1w fr-mt-5w">
    <%= t('.blocks_title') %>
  </h2>

  <p class="fr-col-md-6 fr-mb-3w">
    <%= t('.blocks_subtitle') %>
  </p>

  <%= form_with model: @authorization_request, url: '#', builder: AuthorizationRequestFormBuilder do |f| %>
    <% @authorization_definition.blocks.each do |block| %>
      <%= render Atoms::DefinitionBlockComponent.new(
            title: f.wording_for("steps.#{block[:name]}"),
            static_block: @static_block_names.include?(block[:name].to_s)) do %>
        <%= render_custom_form_or_default(@authorization_request, block[:name], { f: }) %>
      <% end %>
    <% end %>

    <h2 class="fr-mb-1w fr-mt-5w">
      <%= t('.before_submit_title') %>
    </h2>

    <p class="fr-col-md-6 fr-mb-3w">
      <%= t('.before_submit_subtitle') %>
    </p>

    <%= render Atoms::DefinitionBlockComponent.new(title: t('.before_submit')) do %>
      <%= render 'authorization_request_forms/shared/tos_checkboxes', f: f %>
    <% end %>
  <% end %>
</div>
