<% set_title! t('.title') %>

<% content_for :content_skip_link_text do %>
  Identifiants de l'application
<% end %>

<% content_for :skip_links do %>
  <%= skip_link("Contenu principal", "oauth-credentials") %>
  <%= skip_link("Menu", "header") %>
  <%= skip_link("Pied de page", "footer") %>
<% end %>

<div class="sub-header fr-mt-4w fr-mb-2w">
  <div>
    <h1>
      <%= t('.title') %>
    </h1>
  </div>
</div>

<div id="oauth-credentials">
  <div class="fr-alert fr-alert--warning fr-mb-4w">
    <h3 class="fr-alert__title"><%= t('.warning_title') %></h3>
    <p><%= t('.warning_message') %></p>
  </div>

  <%= render 'copiable_field', label: t('.client_id_label'), value: @application.uid, copy_aria_label: t('.copy_client_id') %>
  <%= render 'copiable_field', label: t('.client_secret_label'), value: @application.secret, copy_aria_label: t('.copy_client_secret') %>

  <div class="fr-mt-6w">
    <h2 class="fr-h6"><%= t('.best_practices_title') %></h2>
    <ul>
      <li><%= t('.best_practice_1') %></li>
      <li><%= t('.best_practice_2') %></li>
    </ul>
  </div>

  <div class="fr-mt-6w">
    <%= link_to t('.back_to_applications'), developers_oauth_applications_path, class: %w[fr-btn] %>
  </div>
</div>
