<% content_for :content_skip_link_text do %>
  Votre organisation de rattachement
<% end %>

<% content_for :skip_links do %>
  <%= skip_link("Votre organisation de rattachment", "content") %>
  <%= skip_link("Rejoindre une autre organisation", "new_organization") %>
  <%= skip_link("Menu", "header") %>
  <%= skip_link("Pied de page", "footer") %>
<% end %>

<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--middle">
    <%= render partial: 'pages/shared/unauthenticated_pages/welcome_logo' %>

    <div class="fr-col-sm-12 fr-col-md-7 fr-my-5w">
      <h1>
        Votre organisation de rattachement
      </h1>

      <div class="fr-alert fr-alert--info fr-mb-4w">
        <p>
          Votre fournisseur d'identité ne fournissant pas un numéro de siret fiable pour votre compte,
          vous devez choisir manuellement votre organisation de rattachement.

          <br />
          <br />

          Les organisations listées ci-dessous sont celles auxquelles vous êtes rattaché(e) dans notre système, celles dont le lien
          est vérifié sont labellisées par un badge vert "Vérifié".

          <br />
          <br />

          Pour en savoir plus, consulter notre documentation sur <a href="#">la vérification des organisations</a>.
        </p>
      </div>

      <% @organizations_users.each do |organizations_user| %>
        <% organization = organizations_user.organization.decorate %>

        <div class="fr-card fr-enlarge-link fr-mb-2w">
          <div class="fr-card__body">
            <div class="fr-card__content">
              <h3 class="fr-card__title">
                <a href="#"><%= organization.name %></a>
              </h3>

              <% if organizations_user.verified? || organizations_user.current? %>
                <div class="fr-card__start">
                  <ul class="fr-tags-group">
                    <% if organizations_user.current? %>
                      <li class="fr-mr-1w">
                        <p class="fr-badge fr-badge--info">Actuel</p>
                      </li>
                    <% end %>

                    <% if organizations_user.verified? %>
                      <li>
                        <p class="fr-badge fr-badge--success">Vérifié</p>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <p class="fr-card__desc">
                <%= organization.address %>
                <br />
                Siret: <%= organization.siret %>
              </p>
            </div>
          </div>
        </div>
      <% end %>

      <div class="fr-mt-4w">
        <%= link_to 'Rejoindre une autre organisation', new_organization_path, class: 'fr-btn fr-btn--secondary', id: 'new_organization' %>
      </div>
    </div>
  </div>
</div>
