<div class="fr-header__tools-links">
  <ul class="fr-links-group">
    <% if user_signed_in? %>
      <li>
        <a class="fr-link fr-icon-home-4-fill" href="<%= dashboard_path %>">
          <%= t('.links.authorization_requests_index.title') %>
        </a>
      </li>
      <% if current_user.reporter? %>
        <li>
          <a class="fr-link fr-icon-draft-fill" href="<%= instruction_path %>">
            <%= t('.links.instruction.title') %>
          </a>
        </li>
      <% end %>
      <li>
        <a class="fr-link fr-icon-user-fill" href="<%= profile_path %>">
          <%= current_user.full_name %>
        </a>
      </li>
      <li>
        <a class="fr-link fr-icon-logout-box-r-fill" id="signout_button" href="<%= signout_path %>" target="_self">
          <%= t('.links.sign_out.title') %>
        </a>
      </li>
    <% end %>
  </ul>
</div>

