<% unverified_organization_link_for_instruction = namespace?(:instruction) && demande.unverified_organization_link? && !demande.finished? %>

<% if unverified_organization_link_for_instruction %>
  <% extra_summary_block_css_classes = 'summary-block--warning' %>
<% else %>
  <% extra_summary_block_css_classes = '' %>
<% end %>

<%= render layout: 'authorization_requests/shared/blocks/summary_block', locals: { authorization_request: demande, title: "L'organisation", block_id: :organization, editable: false, extra_summary_block_css_classes: } do %>
  <div class="fr-container-fluid organization-and-applicant">
    <% if unverified_organization_link_for_instruction %>
      <div class="fr-alert fr-alert--warning fr-mb-2v">
        <div class="fr-alert__body">
          <p>
          Nous n’avons pas pu vérifier le lien entre le demandeur et le numéro de SIRET, assurez-vous que le demandeur est bien légitime pour faire cette demande. Plus d'informations sur la <%= link_to "vérification du lien entre le demandeur et l'organisation", '#' %>
          </p>
        </div>
      </div>
    <% end %>

    <div class="fr-grid-row fr-grid-row--gutters">
      <% if !displayed_on_a_public_page? %>
        <div class="fr-col-12 fr-col-lg-6">
          <div class="fr-basic-card">
            <div class="contact-card__kind">
              Demandeur
            </div>

            <div class="contact-card__full_name">
              <%= demande.applicant.full_name %>
            </div>

            <%
              %w[
                job_title
                email
                phone_number
              ].each do |user_attribute|
            %>
              <div class="contact-card__attribute">
                <div class="contact-card__attribute-label">
                  <%= User.human_attribute_name(user_attribute) %>
                </div>
                <div class="contact-card__attribute-value">
                  <%= demande.applicant.public_send(user_attribute) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="fr-col-12 fr-col-lg-6">
        <div class="fr-basic-card">
          <div class="contact-card__kind">
            Organisation
          </div>

          <div class="contact-card__full_name">
            <% if demande.organization.foreign? %>
              <%= demande.organization.name %>
            <% else %>
              <%= link_to demande.organization.name, "https://annuaire-entreprises.data.gouv.fr/etablissement/#{demande.organization.siret}", alt: "Lien vers l'annuaire", target: '_blank' %>
            <% end %>
          </div>

          <%
            %w[
              siret
              address
              code_naf_with_libelle
            ].each do |organization_attribute|
          %>
            <% next unless demande.organization.public_send(organization_attribute).present? %>

            <div class="contact-card__attribute">
              <div class="contact-card__attribute-label">
                <%= Organization.human_attribute_name(organization_attribute) %>
              </div>
              <div class="contact-card__attribute-value">
                <%= demande.organization.public_send(organization_attribute) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
