<div class="fr-container">
  <div class="fr-grid-row">
    <div class="fr-col-6">
      <%= form_with(model: @user, url: @user.persisted? ? admin_users_with_role_path(@user) : admin_users_with_roles_path) do |f| %>
        <%= f.dsfr_email_field :email, required: true, disabled: @user.persisted?, placeholder: t('.form.email.placeholder') %>
        <%= f.dsfr_text_area :roles, value: @user.roles.join("\n"), placeholder: t('.form.roles.placeholder'), rows: 20 %>
        <%= f.submit t('.cta'), class: %w[fr-btn fr-btn--sm] %>
      <% end %>
    </div>

    <div class="fr-col-6 fr-pl-4v">
      <h3>Instructions</h3>

      <p>
        Dans le champ « Rôles » : mettre 1 rôle par ligne, de la forme <code>fd_slug:definition_id:role_code</code>.
      </p>

      <p>
        Pour donner accès à toutes les définitions d'un fournisseur : <code>fd_slug:*:role_code</code>
      </p>

      <hr />

      <h4 class="fr-text--sm fr-mb-1w">Liste des rôles</h4>

      <ul>
        <li>Rapporteur (code: reporter)</li>
        <li>Instructeur (code: instructor)</li>
        <li>Développeur (code: developer)</li>
        <li>Manager (code: manager)</li>
      </ul>

      <hr />

      <h4 class="fr-text--sm fr-mb-1w">Liste des fournisseurs de données</h4>

      <ul>
        <% DataProvider.order(:name).each do |dp| %>
          <li><%= dp.name %> (slug: <code><%= dp.slug %></code>)</li>
        <% end %>
      </ul>

      <hr />

      <h4 class="fr-text--sm fr-mb-1w">Liste des habilitations</h4>

      <ul>
        <% AuthorizationDefinition.all.sort_by { |ad| [ad.provider_slug.to_s, ad.id] }.each do |authorization_definition| %>
          <li>
            <%= authorization_definition.name_with_stage %> (<code><%= authorization_definition.provider_slug %>:<%= authorization_definition.id %></code>)
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
