<% if show_summary_before_submit? %>
  <%= dsfr_notice(
    title: t('authorization_request_forms.summary.title'),
    description: t('authorization_request_forms.summary.description'),
    type: 'warning',
    html_attributes: { class: 'fr-mb-4w fr-px-4v' }
  ) %>
<% end %>

<% if show_instructor_banner? %>
  <%= dsfr_notice(
    title: instructor_banner_title,
    description: instructor_banner_full_description,
    type: instructor_banner_type.to_s,
    html_attributes: { class: 'fr-notice--full-width fr-mb-4w' }
  ) %>
<% end %>

<% if show_dirty_from_v1_alert? %>
  <%= dsfr_alert(
    type: :warning,
    title: t('authorization_requests.show.dirty_from_v1.title'),
    html_attributes: { class: 'fr-mb-4w' }
  ) do %>
    <%= t('authorization_requests.show.dirty_from_v1.description') %>
  <% end %>
<% end %>

<% if show_update_in_progress_alert? %>
  <%= dsfr_notice(
    title: update_in_progress_title,
    description: update_in_progress_message,
    type: 'info',
    html_attributes: { class: 'fr-notice--full-width fr-mb-4w' }
  ) %>
<% end %>

<% if show_old_version_alert? %>
  <div class="fr-alert fr-alert--warning fr-mb-4v">
    <h3 class="fr-alert__title">
      <%= old_version_title %>
    </h3>
    <%= old_version_message %>
  </div>
<% end %>
