<div class="simple-page-action-wrapper fr-pt-5w">
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col-md-offset-1 fr-col-md-10">
      <turbo-frame id="main-modal-content">
        <div class="fr-modal__content">
          <h1 class="fr-modal__title">
            <%= t('.title', authorization_name: @authorization.name) %>
          </h1>

          <p>
            <%= t('.disclaimer').html_safe %>
          </p>

          <% unless @authorization.request.valid? %>
            <p class="fr-error">
              <%= t('.invalid_request') %>
            </p>
          <% end %>
        </div>

        <div class="fr-modal__footer">
          <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
            <%= link_to t('.cancel'), '#', class: %w(fr-btn fr-btn--secondary), aria: { controls: 'main-modal' } %>
            <%= button_to t('.reopen'), url_for(controller: 'reopen_authorizations', action: 'create', authorization_request_id: @authorization.request_id, authorization_id: @authorization.id), class: %w(fr-btn fr-btn--primary fr-icon-success-line fr-btn--icon-left) %>
          </div>
        </div>
      </turbo-frame>
    </div>
  </div>
</div>
