<% content_for :content_skip_link_text do %>
  Votre organisation de rattachement
<% end %>

<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--middle">
    <div class="fr-col-sm-12 fr-col-md-7 fr-my-5w">
      <h1>
        Votre organisation de rattachement
      </h1>

      <p>
        Vous avez sélectionné l'organisation ci-dessous. Si vous souhaitez en changer, vous pouvez le faire en cliquant sur le bouton "Changer d'organisation" ci-dessous.
      </p>

      <div class="fr-card fr-enlarge-link fr-mb-2w">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h3 class="fr-card__title">
              <a href="#"><%= @organization.name %></a>
            </h3>

            <p class="fr-card__desc">
              <%= @organization.address %>
              <br />
              Siret: <%= @organization.siret %>
            </p>
          </div>
        </div>
      </div>

      <%= form_for @organization, url: user_organizations_path(siret: @organization.siret), method: :create do |form| %>
        <%= form.hidden_field :siret, value: @organization.siret %>

        <div class="fr-mt-4w">
          <%= form.submit "Rejoindre l'organisation", class: 'fr-btn fr-btn--primary fr-mr-2w' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
