<% content_for :content_skip_link_text do %>
  Votre organisation de rattachement
<% end %>

<div class="bg-blue main-container-full-width-offset-footer">
  <div class="fr-grid-row fr-grid-row--middle">
    <div class="bg-white fr-col-sm-12 fr-col-md-7 fr-py-8w fr-px-12w">
      <h1>
        Votre organisation de rattachement
      </h1>

      <p>
        Vous avez sélectionné l'organisation ci-dessous. Si vous souhaitez en changer, vous pouvez le faire en cliquant sur le bouton "Changer d'organisation" ci-dessous.
      </p>

      <div class="fr-card fr-enlarge-link fr-mb-2w">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h3 class="fr-card__title">
              <%= @organization.name %>
            </h3>

            <p class="fr-card__desc">
              <%= @organization.address %>
              <br />
              Siret: <%= @organization.siret %>
            </p>
          </div>
        </div>
      </div>

      <%= form_for @organization, url: user_organizations_path(siret: @organization.siret), method: :create do |form| %>
        <%= form.hidden_field :siret, value: @organization.siret %>

        <div class="fr-mt-4w">
          <%= form.submit "Rejoindre l'organisation", class: 'fr-btn fr-btn--primary fr-mr-2w' %>
          <%= link_to "Changer d'organisation", user_organizations_path, class: 'fr-btn fr-btn--secondary' %>
        </div>
      <% end %>
    </div>

    <div class="fr-col-sm-12 fr-col-md-5 fr-p-12w">
      <%= image_tag "organization-selection.svg", alt: "Sélection de l'organisation", class: %w(fr-responsive-img), style: 'max-height: 250px;' %>
    </div>
  </div>
</div>
