<h3><%= t('.title') %></h3>

<ul class="fr-mt-2w fr-p-0">
  <% authorizations.each do |authorization| %>
    <li class="authorization-row fr-mb-4w fr-pb-2w">
      <div class="fr-grid-row fr-grid-row--middle">
        <div class="fr-col">
          <%= render 'authorizations/authorization_badges', authorization: authorization %>

          <div>
            <% if authorization.auto_generated? %>
              <%= t('.auto_generated', type: authorization.definition.name) %>
            <% elsif authorization.approving_instructor.present? %>
              <%= t('.validated_by', type: authorization.definition.name, email: authorization.approving_instructor.email).html_safe %>
            <% end %>
          </div>
        </div>

        <div>
          <%= link_to t('.show_cta'), authorization_path(authorization), class: 'fr-btn' %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
