<% set_title! t('page_titles.authorization_show', definition_name: authorization.definition.name, authorization_name: authorization.name) %>

<% unless show_authorization_tabs?(authorization) %>
  <div class="authorization-header fr-background-action-high--blue-france">
    <%= render AuthorizationHeaderComponent.new(authorization: authorization, current_user: current_user) %>
  </div>
<% end %>

<div class="fr-container">
  <div id="<%= dom_id(authorization, :summary) %>" class="fr-mt-4w">
    <%= render Habilitation::UserAlertsComponent.new(authorization:, current_user:) %>
    <%= render partial: 'demandes_habilitations/organization_and_applicant', locals: { demande: @authorization_as_request_validated } %>
    <%= render partial: 'authorizations/blocks', locals: { authorization_request: @authorization_as_request_validated, authorization: @authorization } %>
    <%= render_accepted_tos_checkboxes(@authorization_as_request_validated, authorization: @authorization) %>
  </div>
</div>
