<%= render AuthorizationHeaderComponent.new(authorization: @authorization) %>

<div id="<%= dom_id(@authorization_request, :summary) %>" class="fr-mt-4w">
  <%= render partial: 'authorization_requests/bulk_update_modal' if @bulk_update.present? %>
  <%= render partial: 'authorizations/alerts', locals: { authorization: @authorization, authorization_request: @authorization_request } %>
  
  <% if !displayed_on_a_public_page? && @authorization_request.access_link && @authorization_request.validated? %>
    <%= render partial: 'authorizations/access_callout', locals: { authorization_request: @authorization_request } %>
  <% end %>
</div>

<div class="fr-container">
  <%= render partial: 'authorization_requests/shared/organization_and_applicant', locals: { authorization_request: @authorization_request } %>
  <%= render partial: 'authorizations/blocks', locals: { authorization_request: @authorization_request } %>
</div>
