<div class="fr-mb-4w">
  <div class="fr-grid-row fr-grid-row--center fr-mb-3w">
    <div class="fr-col-auto">
      <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-grid-row--center">
        <div class="fr-col-auto fr-pt-2v"><%= t('stats.filters.from') %></div>
        <div class="fr-col-auto">
          <input type="date" id="start-date" class="fr-input" data-<%= stimulus_controller %>-target="startDate" data-action="input-><%= stimulus_controller %>#updateFiltersDebounced" aria-label="<%= t('stats.filters.start_label') %>" />
        </div>
        <div class="fr-col-auto fr-pt-2v"><%= t('stats.filters.to') %></div>
        <div class="fr-col-auto">
          <input type="date" id="end-date" class="fr-input" data-<%= stimulus_controller %>-target="endDate" data-action="input-><%= stimulus_controller %>#updateFiltersDebounced" aria-label="<%= t('stats.filters.end_label') %>" />
        </div>
        <div class="fr-col-auto fr-pt-2v"><%= t('stats.filters.inclusive') %></div>
      </div>
    </div>
  </div>

  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col-12">
      <div class="fr-btns-group fr-btns-group--inline-md fr-btns-group--center" data-<%= stimulus_controller %>-target="quickRanges">
        <button class="fr-btn fr-btn--sm fr-btn--tertiary-no-outline" type="button" data-action="click-><%= stimulus_controller %>#setDateRange" data-range="year-<%= two_years_ago %>">
          <%= t('stats.filters.quick_ranges.year', year: two_years_ago) %>
        </button>
        <button class="fr-btn fr-btn--sm fr-btn--tertiary-no-outline" type="button" data-action="click-><%= stimulus_controller %>#setDateRange" data-range="year-<%= last_year %>">
          <%= t('stats.filters.quick_ranges.year', year: last_year) %>
        </button>
        <button class="fr-btn fr-btn--sm fr-btn--tertiary-no-outline" type="button" data-action="click-><%= stimulus_controller %>#setDateRange" data-range="last-year">
          <%= t('stats.filters.quick_ranges.last_year') %>
        </button>
        <button class="fr-btn fr-btn--sm fr-btn--tertiary-no-outline" type="button" data-action="click-><%= stimulus_controller %>#setDateRange" data-range="last-3-months">
          <%= t('stats.filters.quick_ranges.last_3_months') %>
        </button>
        <button class="fr-btn fr-btn--sm fr-btn--tertiary-no-outline" type="button" data-action="click-><%= stimulus_controller %>#setDateRange" data-range="last-30-days">
          <%= t('stats.filters.quick_ranges.last_30_days') %>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters fr-mb-2w">
  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-select-group">
      <label class="fr-label" for="statsProviderSelect"><%= t('stats.filters.provider_label') %></label>
      <select class="fr-select" id="statsProviderSelect" data-<%= stimulus_controller %>-target="providerSelect" data-action="change-><%= stimulus_controller %>#updateFilters">
        <option value=""><%= t('stats.filters.all_providers') %></option>
      </select>
    </div>
  </div>

  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-select-group">
      <label class="fr-label" for="statsTypeSelect"><%= t('stats.filters.type_label') %></label>
      <select class="fr-select" id="statsTypeSelect" data-<%= stimulus_controller %>-target="typeSelect" data-action="change-><%= stimulus_controller %>#updateFilters">
        <option value=""><%= t('stats.filters.all_definitions') %></option>
      </select>
    </div>
  </div>
</div>

<div class="fr-grid-row fr-grid-row--center fr-mb-6w">
  <div class="fr-col-auto">
    <button class="fr-btn fr-btn--tertiary-no-outline fr-btn--sm" type="button" data-action="click-><%= stimulus_controller %>#clearFilters">
      <%= t('stats.filters.reset') %>
    </button>
  </div>
</div>
