<%= render layout: 'authorization_requests/shared/blocks/summary_block', locals: { title: t('authorization_request_forms.default.steps.personal_data'), block_id: :personal_data, f:, editable: } do %>
  <strong>
    <%= f.label_value(:destinataire_donnees_caractere_personnel) %>
  </strong>

  <%= simple_format(@authorization_request.destinataire_donnees_caractere_personnel) %>

  <strong>
    <%= f.label_value(:duree_conservation_donnees_caractere_personnel) %>
  </strong>

  <%= @authorization_request.duree_conservation_donnees_caractere_personnel %> mois.

  <% if @authorization_request.duree_conservation_donnees_caractere_personnel_more_than_3_years? && @authorization_request.duree_conservation_donnees_caractere_personnel_justification.present? %>
    <div>
      <strong>
        <%= f.label_value(:duree_conservation_donnees_caractere_personnel_justification) %>
      </strong>

      <p>
        <%= simple_format(@authorization_request.duree_conservation_donnees_caractere_personnel_justification) %>
      </p>
    </div>
  <% end %>
<% end %>
