<div class="summary-block <%= !editable ? 'summary-block--fixed' : '' %> fr-mb-6w" id="<%= dom_id(@authorization_request, block_id) %>">
  <div class="summary-block__header">
    <h3 class="summary-block__title fr-h4 fr-pb-1-5v">
      <%= title %>
    </h3>

    <div class="summary-block__info fr-text--sm font-weight-700">
      <% if policy(@authorization_request).update? && !editable %>
        <span class="fr-icon-info-fill summary-block__icon"></span>
        <%= t('authorization_request_forms.summary.summary_block.message') %>
      <% end %>
    </div>
  </div>

  <div class="summary-block__ctas">
    <% if policy(@authorization_request).update? && editable %>
      <% wicked_block_id = t("wicked.#{block_id}") %>
      <%= link_to 'Modifier', edit_authorization_request_block_path(@authorization_request, wicked_block_id), class: %w(fr-btn fr-btn--secondary fr-btn--sm) %>
    <% end %>
  </div>

  <div class="summary-block__container">
    <% if defined?(f) %>
      <%= yield(f) %>
    <% else %>
      <%= yield %>
    <% end %>
  </div>
</div>
