<div
  class="summary-block <%= !editable ? 'summary-block--fixed' : '' %>"
  id="<%= dom_id(@authorization_request, block_id) %>"
>
  <h3 class="summary-block__title">
    <%= title %>
  </h3>

  <div class="summary-block__ctas">
    <% if policy(@authorization_request).update? && editable %>
      <% wicked_block_id = t("wicked.#{block_id}") %>
      <%= link_to "Modifier",
      edit_authorization_request_block_path(@authorization_request, wicked_block_id),
      class: %w[fr-btn fr-btn--secondary fr-btn--sm] %>
    <% end %>
  </div>

  <div class="summary-block__container">
    <% if defined?(f) %>
      <%= yield(f) %>
    <% else %>
      <%= yield %>
    <% end %>
  </div>
</div>
