<%= render partial: 'mailer/shared/applicant/header', locals: { entity_name: @authorization_request.applicant.full_name } %>

Votre habilitation a été validée. Votre numéro de demande DataPass est <%= @authorization_request.id %>.

Ce numéro devra être renseigné lors de vos prochaines démarches dans le cadre de votre <a href="https://industriels.esante.gouv.fr/produits-et-services/pro-sante-connect#paragraph-id--270">parcours de raccordement à Pro Santé Connect</a>.
Le compte <code><%= @authorization_request.contact_technique_email %></code> de votre responsable technique sur le portail Industriels (https://industriels.esante.gouv.fr) vous permet désormais de gérer l’enregistrement de votre service sur Pro Santé Connect.

Depuis ce compte, vous avez accès à l’onglet "Mon raccordement à Pro Santé Connect", ainsi qu’à la rubrique "Gérez vos services Pro Santé Connect", où vous pouvez notamment effectuer une demande d’accès au BAS de PSC.

Pour consulter cette habilitation, veuillez cliquer sur le lien suivant : <%= authorization_request_url(@authorization_request) %>

<%= render partial: 'mailer/shared/applicant/footer', locals: { authorization_definition_name: @authorization_request.definition.name } %>
