<div class="sub-header">
  <h1>
    <%= t(
      "authorization_requests.new.default.title",
      authorization_name: @facade.authorization_definition_name,
    ) %>
  </h1>
</div>

<div data-controller="show-and-hide" data-show-and-hide-targets-value="<%= @facade.choices.map(&:selector).join(",") %>">
  <h2 class="fr-h4"><%= t("authorization_requests.new.api_r2p.editor_choice") %></h2>

  <fieldset class="fr-fieldset">
    <% @facade.choices.each do |use_case| %>
      <div class="fr-fieldset__element">
        <div class="fr-radio-group fr-radio-rich">
          <input value="<%= use_case.id %>"
                  type="radio"
                  id="option_<%= use_case.id %>"
                  name="has_editor"
                  data-action="show-and-hide#trigger"
                  data-show-and-hide-target-param="<%= use_case.selector %>"
          >
          <label class="fr-label" for="option_<%= use_case.id %>">
            <%= t("authorization_requests.new.api_r2p.use_case.#{use_case.id}") %>
          </label>
        </div>
      </div>
    <% end %>
  </fieldset>

  <div data-selector="with_editor" class="fr-hidden">
    <h2 class="fr-h4"><%= t("authorization_requests.new.api_impot_particulier.choose_form_title.editor") %></h2>
    
    <div class="fr-background-alt--blue-france fr-py-4w">
      <div class="fr-grid-row">
        <div class="fr-col-md-10 fr-col-offset-1">
          <p class="center fr-px-5w fr-py-1w">
            <%= t(
              "authorization_requests.new.step3.use_case_intro_html",
              name: @facade.authorization_definition_name,
              base_url: "https://api.gouv.fr/les-api/impot-particulier",
              use_cases_url: "https://api.gouv.fr/les-api/impot-particulier"
            ) %>
          </p>
          <div class="fr-grid-row fr-grid-row--center">
            <% @facade.public_available_forms.each do |authorization_request_form| %>
              <div
                data-choose-authorization-request-form-target="form"
                data-choose-authorization-request-form-tags="<%= authorization_request_form.tags.to_json %>"
                class="fr-col-md-4 fr-col-xl-4 fr-col-12 fr-p-2w"
              >
                <%= render partial: "authorization_request_forms/authorization_request_form_card",
                locals: {
                  authorization_request_form:,
                  additional_link_attributes: { "data-choose-modalite-with-france-connect-target": "links" }
                } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-selector="without_editor" class="fr-hidden">
    <h2 class="fr-h4"><%= t("authorization_requests.new.api_impot_particulier.choose_form_title.editor") %></h2>

    <div class="fr-background-alt--blue-france fr-py-4w">
      <div class="fr-grid-row">
        <div class="fr-col-md-10 fr-col-offset-1">
          <p class="center fr-px-5w fr-py-1w">
            <%= t(
              "authorization_requests.new.step3.use_case_intro_html",
              name: @facade.authorization_definition_name,
              base_url: "https://api.gouv.fr/les-api/impot-particulier",
              use_cases_url: "https://api.gouv.fr/les-api/impot-particulier"
            ) %>
          </p>

          <div class="fr-grid-row fr-grid-row--center">
            <% @facade.public_available_forms_sandbox.each do |authorization_request_form| %>
              <div
                data-choose-authorization-request-form-target="form"
                data-choose-authorization-request-form-tags="<%= authorization_request_form.tags.to_json %>"
                class="fr-col-md-4 fr-col-xl-4 fr-col-12 fr-p-2w"
              >
                <%= render partial: "authorization_request_forms/authorization_request_form_card",
                locals: {
                  authorization_request_form:,
                  additional_link_attributes: { "data-choose-modalite-with-france-connect-target": "links" }
                } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
