<div class="sub-header">
  <h1>
    <%= t(
      "authorization_requests.new.default.title",
      authorization_name: @facade.authorization_definition_name
    ) %>
  </h1>
</div>

<h2 class="fr-h4"><%= t("authorization_requests.new.step1.title") %></h2>

<div
  class="authorization-request-forms-api-entreculier-index"
  class="fr-mb-2w"
  data-controller="choose-authorization-request-form"
  data-choose-authorization-request-form-editors-value="<%= @facade.decorated_editors_ids.to_json %>"
  data-choose-authorization-request-form-already-integrated-editors-value="<%= @facade.already_integrated_editors_ids.to_json %>"
  data-choose-authorization-request-form-target-use-case-value="<%= params[:use_case] %>"
>
  <fieldset
    class="fr-fieldset"
    aria-labelledby="radio-rich-inline-legend radio-rich-inline-messages"
  >
    <div class="fr-grid-row">
      <div class="fr-col-md-8 fr-col-12">
        <div class="fr-fieldset__element fr-fieldset__element">
          <div class="fr-radio-group fr-radio-rich">
            <input
              type="radio"
              id="team-editor"
              value="editor"
              data-controller="scroll-to"
              data-action="
                click->choose-authorization-request-form#chooseTeam
                click->scroll-to#go
              "
              data-scroll-to-target-value="step2"
              name="team"
            >
            <label class="fr-label" for="team-editor">
              <strong><%= t("authorization_requests.new.step1.editor") %></strong>
              <span class="fr-hint-text"><%= t("authorization_requests.new.step1.editor_hint") %></span>
            </label>
          </div>
        </div>
      </div>

      <div class="fr-col-md-8 fr-col-12">
        <div class="fr-fieldset__element fr-fieldset__element">
          <div class="fr-radio-group fr-radio-rich">
            <input
              type="radio"
              id="team-internal"
              data-controller="scroll-to"
              data-action="
                click->choose-authorization-request-form#chooseTeam
                click->scroll-to#go
              "
              data-scroll-to-target-value="forms"
              value="internal"
              name="team"
            >
            <label class="fr-label" for="team-internal">
              <strong><%= t("authorization_requests.new.step1.internal") %></strong>
              <span class="fr-hint-text"><%= t("authorization_requests.new.step1.internal_hint") %></span>
            </label>
          </div>
        </div>
      </div>

      <div class="fr-col-md-8 fr-col-12">
        <div class="fr-fieldset__element fr-fieldset__element">
          <div class="fr-radio-group fr-radio-rich">
            <input
              type="radio"
              id="team-none"
              value="none"
              data-controller="scroll-to"
              data-action="
                click->choose-authorization-request-form#chooseTeam
                click->scroll-to#go
              "
              data-scroll-to-target-value="no-team-disclaimer"
              name="team"
            >
            <label class="fr-label" for="team-none">
              <strong><%= t("authorization_requests.new.step1.none") %></strong>
              <span class="fr-hint-text"><%= t("authorization_requests.new.step1.none_hint") %></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div id="step2"></div>
  <div
    data-choose-authorization-request-form-target="editors"
    id="editors-list"
    class="fr-hidden editors-list"
  >
    <h3 class="fr-h4"><%= t("authorization_requests.new.step2.title") %></h3>

    <div
      class="fr-grid-row"
      id="editors"
      aria-labelledby="radio-hint-legend radio-hint-messages"
    >
      <div class="fr-col-md-8">
        <%= render partial: "authorization_requests/new/editors_index",
        locals: {
          grouped_editors: @facade.editors_index,
        } %>
      </div>
    </div>
  </div>

  <div
    data-choose-authorization-request-form-target="forms"
    id="forms"
    class="fr-background-alt--blue-france fr-py-4w fr-hidden"
  >
    <div class="fr-grid-row">
      <div class="fr-col-md-10 fr-col-offset-1">
        <p class="center fr-px-5w fr-py-1w">
          <%= t(
            "authorization_requests.new.step3.use_case_intro_html",
            name: @facade.authorization_definition_name,
            base_url: "https://particulier.api.gouv.fr",
            use_cases_url: "https://particulier.api.gouv.fr/cas_usages",
          ) %>
        </p>

        <div class="fr-grid-row fr-grid-row--center">
          <% @facade.public_available_forms.each do |authorization_request_form| %>
            <div
              data-choose-authorization-request-form-target="form"
              data-choose-authorization-request-form-tags="<%= authorization_request_form.tags.to_json %>"
              class="fr-col-md-6 fr-col-xl-6 fr-col-12 fr-p-2w"
            >
              <%= render partial: "authorization_request_forms/authorization_request_form_card",
              locals: {
                authorization_request_form:,
              } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div
    data-choose-authorization-request-form-target="noTeamDisclaimer"
    id="no-team-disclaimer"
    class="fr-background-alt--blue-france fr-py-4w fr-hidden"
  >
    <div class="fr-grid-row">
      <div class="fr-col-md-10 fr-col-offset-1">

        <div class="center fr-px-5w fr-py-1w">
          <p>
            Vous êtes éligible mais n'avez pas les
            <a
              href="https://particulier.api.gouv.fr/developpeurs#prerequis-techniques"
              target="_blank"
            >prérequis techniques</a>
            pour utiliser l’API Particulier.
            <br/>
            🔎 L’API Particulier s’utilise au travers d’un logiciel métier,
            comme par exemple un profil acheteur pour les marchés publics. Si
            vous collectez et traitez les données à la main, vous n’avez
            probablement pas un logiciel dédié aux démarches.
            <br/>
            De nombreux éditeurs de logiciel, ont déjà intégré l'API
            Particulier, nous vous recommandons d'en
            <a
              href="https://particulier.api.gouv.fr/faq#je-recherche-un-editeur-proposant-l-api-particulier"
              target="_blank"
            >consulter la liste</a>.
            <br/>
            <br/>
            <strong>
              💡 Si votre cas d'usage est d'accéder au quotient familial CAF et MSA pour simplifier la tarification sociale municipale, vous pouvez demander un accès au
              <%= link_to 'formulaire de collecte du quotient familial', new_authorization_request_path(definition_id: 'formulaire_qf') %>.
            </strong>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div
    data-choose-authorization-request-form-target="noEditorDisclaimer"
    id="no-editor-disclaimer"
    class="fr-background-alt--blue-france fr-py-4w fr-hidden"
  >
    <div class="fr-grid-row">
      <div class="fr-col-md-10 fr-col-offset-1">
        <p class="center fr-px-5w fr-py-1w">
          Vous êtes éligible mais votre éditeur ne semble pas utiliser l'API
          Particulier.
          <br/>
          Nous vous invitons à nous contacter à l'adresse suivante :
          <a href="mailto:support@particulier.api.gouv.fr">support@particulier.api.gouv.fr</a>
          afin que l'on puisse vous accompagner au mieux
        </p>
      </div>
    </div>
  </div>
</div>
