<% content_for :content_skip_link_text do %>
  Votre compte
<% end %>

<% if current_user.reporter? %>
  <% content_for :skip_links do %>
    <%= skip_link("Notifications par emails", "notifications-section") %>
    <%= skip_link("Menu", "header") %>
    <%= skip_link("Pied de page", "footer") %>
  <% end %>
<% end %>

<div class="sub-header">
  <h1 class="fr-m-0">
    <%= t('.title') %>
  </h1>
</div>

<%= render partial: 'authorization_request_forms/shared/organization' %>

<% if current_user.developer? %>
  <div class="fr-grid-row fr-grid-row--gutters fr-mt-3v">
    <div class="fr-col-12 fr-col-lg-6">
      <div class="fr-basic-card">
        <h3>
          <%= t('.developer.title') %>
        </h2>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col">
            <%= link_to t('.developer.applications_link'), oauth_applications_path, class: 'fr-btn fr-mr-2w' %>
          </div>
          <div class="fr-col">
            <%= link_to t('.developer.documentation_link'), developpeurs_documentation_path, class: 'fr-btn fr-btn--secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if current_user.reporter? %>
  <h2 class="fr-mt-16v" id="notifications-section">
    <%= t('.notifications.title') %>
  </h2>

  <% current_user.authorization_definition_roles_as('reporter').each do |authorization_definition| %>
    <%= render partial: 'profile/authorization_notifications', locals: { authorization_definition: } %>
  <% end %>
<% end %>
