<% set_title! t('page_titles.stats') %>
<% controller_name = 'stats' %>

<div id="content" data-controller="<%= controller_name %>">
  <%= render 'stats/shared/loading_overlay', controller_name: controller_name %>

  <div class="fr-container fr-py-6w">
    <h1 class="fr-h1 fr-mb-4w" style="text-align: center;">Statistiques DataPass</h1>
    
    <%= render 'stats/shared/filters', controller_name: controller_name %>
    
    <%= render 'stats/shared/migration_warning', controller_name: controller_name %>
    
    <%= render 'stats/shared/summary_cards', controller_name: controller_name %>
    
    <%= render 'stats/shared/duration_cards', controller_name: controller_name %>

    <%= render 'stats/shared/time_series_chart', controller_name: controller_name %>
  </div>
</div>
