<div class="authorization-request-card authorization-request fr-background-default--grey " id="<%= dom_id(authorization_request) %>">
  <div class="card__wrapper fr-p-10v">

    <div class="flex-space-between__content">
      <div class="card__content">
        <div class="card__title fr-text-title--blue-france fr-h4 fr-m-0 fr-icon-draft-fill">
          <%= authorization_request.card_name %>
        </div>

        <p class="fr-card__desc">
          <%= t '.description', definition_name: authorization_request.definition.name, form_name: authorization_request.form.name %>
        </p>

        <div class="fr-card__end">
          <%= authorization_request.applicant_details %>
 
          <p class="fr-card__detail fr-icon-calendar-2-fill">
            <%= authorization_request.date %>
           </p>
        </div>
      </div>

      <div class="card__badge">
        <span class="fr-badge">
          <%= t("authorization_request.badge", id: authorization_request.id) %>
        </span>

        <div class="flex-wrap flew-grow flex-end__content fr-grid-row--top fr-col--xs">
          <%= authorization_request.reopening_badge(extra_css_class: 'fr-mb-1w') %>
          <%= authorization_request.stage_badge %>
          <%= authorization_request.status_badge %>
        </div>
      </div>
    </div>

    <div class="card__actions flex-space-between__content">
      <div class="card__access_link">
        <% if authorization_request.access_link && authorization_request.validated? %>
          <%= link_to t('.access_link_cta'), authorization_request.access_link, class: 'fr-link fr-icon-links-line fr-link--icon-left', target: :blank %>
        <% end %>
      </div>

      <div class="card__actions_btn">
        <%= link_to t('.show_cta'), authorization_request_form_path(form_uid: authorization_request.form.uid, id: authorization_request.id), class: %w(fr-btn fr-btn--sm) %>
      </div>
    </div>
  </div>

  <% if policy(authorization_request).messages? && authorization_request.unread_messages_from_applicant_count > 0 %>
    <div class="unread-message-dot">
      <%= authorization_request.unread_messages_from_applicant_count %>
    </div>
  <% end %>
</div>

