<h1 class="title">
  <%= @authorization_request_form.name %>
</h1>

<%= authorization_request_form(@authorization_request) do |f| %>
  <%= render partial: 'authorization_request_forms/shared/organization', locals: { f: f } %>
  <%= render partial: 'authorization_request_forms/shared/contacts', locals: { f: f } %>
  <%= render partial: 'authorization_request_forms/shared/tos_checkboxes', locals: { f: f } %>
  <%= render partial: 'authorization_request_forms/shared/submit_buttons', locals: { f: f } %>
<% end %>
