<% set_title! 'Statistiques détaillées' %>
<% controller_name = 'admin-stats' %>

<% content_for :skip_links do %>
  <%= skip_link('Contenu principal', 'content') %>
  <%= skip_link('Menu', 'header') %>
  <%= skip_link('Pied de page', 'footer') %>
<% end %>

<div id="content" data-controller="<%= controller_name %>">
  <%= render 'stats/shared/loading_overlay', controller_name: controller_name %>

  <div class="fr-container fr-py-6w">
    <h1 class="fr-h1 fr-mb-4w" style="text-align: center;">Statistiques détaillées DataPass</h1>
    
    <%= render 'stats/shared/filters', controller_name: controller_name %>
    
    <%= render 'stats/shared/migration_warning', controller_name: controller_name %>
    
    <%= render 'stats/shared/summary_cards', controller_name: controller_name %>
    
    <%= render 'stats/shared/duration_cards', controller_name: controller_name %>
    
    <%= render 'stats/shared/breakdown_charts', controller_name: controller_name %>
  </div>
</div>
