<%= authorization_request_form_tag(@authorization_request) do |f| %>
  <div class="fr-container-fluid">
    <div class="fr-grid-row">
      <div class="fr-col-12 fr-col-lg-6 fr-pr-4v fr-pb-4v">
        <div class="fr-basic-card">
          <div class="contact-card__kind">
            Organisation
          </div>

          <div class="contact-card__full_name">
            <%= @authorization_request.organization.raison_sociale %>
          </div>

          <%
            %w[
              siret
              address
              code_naf_with_libelle
            ].each do |organization_attribute|
          %>
            <% next unless @authorization_request.organization.public_send(organization_attribute).present? %>

            <div class="contact-card__attribute">
              <div class="contact-card__attribute-label">
                <%= Organization.human_attribute_name(organization_attribute) %>
              </div>
              <div class="contact-card__attribute-value">
                <%= @authorization_request.organization.public_send(organization_attribute) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="fr-col-12 fr-col-lg-6 fr-pr-4v fr-pb-4v">
        <div class="fr-basic-card">
          <div class="contact-card__kind">
            Demandeur
          </div>

          <div class="contact-card__full_name">
            <%= @authorization_request.applicant.full_name %>
          </div>

          <%
            %w[
              job_title
              email
              phone_number
            ].each do |user_attribute|
          %>
            <div class="contact-card__attribute">
              <div class="contact-card__attribute-label">
                <%= User.human_attribute_name(user_attribute) %>
              </div>
              <div class="contact-card__attribute-value">
                <%= @authorization_request.applicant.public_send(user_attribute) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="info-block">
    <h3>
      Les informations renseignées par le demandeur
    </h3>
    <p>
      Ces informations ont été complétées manuellement pas le demandeur.
    </p>
  </div>


  <% @authorization_request.editable_blocks.each do |block| %>
    <%= render partial: "authorization_requests/shared/blocks/#{block[:name]}", locals: { f: f, editable: true } %>
  <% end %>

  <% if @authorization_request.static_blocks.any? %>
    <div class="info-block">
      <h3>
        Les informations pré-remplies
      </h3>
      <p>
        Ces informations suivantes ont été pré-remplies et ne sont pas modifiables.
      </p>
    </div>

    <% @authorization_request.static_blocks.each do |block| %>
      <%= render partial: "authorization_requests/shared/blocks/#{block[:name]}", locals: { f: f, editable: false } %>
    <% end %>
  <% end %>
<% end %>
