<%= authorization_request_form_tag(authorization_request) do |f| %>
  <%= render partial: "authorization_requests/shared/reopening_callout", locals: { type: :instructor } if authorization_request.reopening? %>

  <%= render partial: 'demandes_habilitations/organization_and_applicant', locals: { demande: authorization_request } %>

  <div class="info-block">
    <h3>
      Les informations renseignées par le demandeur
    </h3>
    <p>
      Ces informations ont été complétées manuellement par le demandeur.
    </p>
  </div>


  <% authorization_request.editable_blocks.each do |block| %>
    <%= render_custom_block_or_default(authorization_request, block[:name], f:, editable: true) %>
  <% end %>

  <% if authorization_request.static_blocks.any? %>
    <div class="info-block">
      <h3>
        Les informations pré-remplies
      </h3>
      <p>
        Ces informations suivantes ont été pré-remplies et ne sont pas modifiables.
      </p>
    </div>

    <% authorization_request.static_blocks.each do |block| %>
      <%= render_custom_block_or_default(authorization_request, block[:name], f:, editable: false) %>
    <% end %>
  <% end %>
<% end %>
