<div class="simple-page-action-wrapper fr-pt-5w">
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col-md-offset-1 fr-col-md-10">
      <turbo-frame id="main-modal-content">
        <%= form_with(model: @organizations_user, url: admin_mark_user_organization_as_verified_index_path(
          user_id: @organizations_user.user_id,
          organization_id: @organizations_user.organization_id
        ), method: :post, data: { turbo_frame: 'main-modal-content' }) do |f| %>
          <div class="fr-modal__content">
            <h1 class="fr-modal__title">
              <%= t('.title') %>
            </h1>

            <p>
              <%= t('.description',
                    user_email: @user.email,
                    organization_name: @organizations_user.organization.name) %>
            </p>

            <%= f.dsfr_text_area :verified_reason, required: true, rows: 4 %>
          </div>

          <div class="fr-modal__footer">
            <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
              <%= link_to t('.cancel'), '#', class: %w[fr-btn fr-btn--tertiary], aria: { controls: 'main-modal' } %>
              <%= f.button t('.submit'), type: :submit, class: %w[fr-btn fr-btn--primary fr-icon-check-line fr-btn--icon-left] %>
            </div>
          </div>
        <% end %>
      </turbo-frame>
    </div>
  </div>
</div>
