<header class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
              République
              <br>Française
              </p>
            </div>
            <div class="fr-header__navbar">
              <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-header-menu" aria-haspopup="menu" title="Menu" id="fr-btn-menu-mobile-1">
                Menu
              </button>
            </div>
          </div>

          <% if @authorization_definition.present? %>
            <div class="fr-header__service">
              <%= image_tag(provider_logo_path(@authorization_definition), style: "max-width:9.0625rem", alt: "Logo du data provider") %>
            </div>
          <% end %>

          <div class="fr-header__service">
            <a href="/" title="Accueil - <%= t('.title') %>">
              <p class="fr-header__service-title">
                <%= t('.title') %>
              </p>
              <p class="fr-header__service-tagline">
                <%= t('.tagline') %>
              </p>
            </a>
          </div>

        </div>
        <div class="fr-header__tools">
          <%= render partial: 'layouts/header/tools' %>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: 'layouts/header/menu' %>
</header>
