<% admin_title = content_for?(:admin_page_title) ? content_for(:admin_page_title) : t("admin.#{controller_name}.#{action_name}.page_title", default: t("admin.#{controller_name}.#{action_name}.title")) %>
<% set_title!(admin_title) %>

<%= content_for(:body) do %>
  <div class="fr-container">
    <div class="dashboard-sub-header">
      <div class="sub-header">
        <div class="sub-header-content">
          <div>
            <h1 class="fr-m-0">
              <%= admin_title %>
            </h1>
          </div>

          <% if content_for?(:header_action) %>
            <div>
              <%= content_for(:header_action) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div id="flash-alerts">
      <%= render partial: 'shared/alerts' %>
    </div>

    <%= yield %>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
