<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>DataPass</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "dsfr-fonts", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "dsfr", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "dsfr-utility", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "dsfr-extensions", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%  Dir[Rails.root.join("app/assets/stylesheets/components/*.css")].each do |path| %>
      <%= stylesheet_link_tag "components/#{File.basename(path)}", "data-turbo-track": "reload" %>
    <% end %>

    <%  Dir[Rails.root.join("app/assets/stylesheets/pages/*.css")].each do |path| %>
      <%= stylesheet_link_tag "pages/#{File.basename(path)}", "data-turbo-track": "reload" %>
    <% end %>

    <%= javascript_include_tag "dsfr.module", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

    <%= render partial: 'shared/favicons' %>
    <%= render partial: 'shared/matomo' %>
  </head>

  <body>
    <%= render layout: 'shared/modal', locals: { id: 'main-modal' } do %>
      <%= render partial: 'shared/loader' %>
    <% end %>

    <% if content_for?(:extra_modal) %>
      <%= yield(:extra_modal) %>
    <% end %>

    <%= render partial: 'layouts/header' %>

    <% if respond_to?(:current_user) && respond_to?(:true_user) && current_user != true_user %>
      <div id="impersonate_warning" class="fr-alert fr-alert--warning" style="margin-bottom: 0; border-radius: 0;">
        <div class="fr-container">
          <div class="fr-alert__body">
            <p class="fr-alert__title">Mode impersonation activé</p>
            <p>Vous (<%= true_user.email %>) êtes connecté en tant que <%= current_user.email %></p>
            <%= button_to "Arrêter l'impersonation", admin_impersonate_path, method: :delete, data: { turbo: false }, id: 'stop_impersonate', class: 'fr-btn fr-btn--secondary fr-btn--sm' %>
          </div>
        </div>
      </div>
    <% end %>

    <main>
      <% if content_for?(:body) %>
        <%= yield(:body) %>
      <% else %>
        <%= yield %>
      <% end %>
    </main>

    <%= render partial: 'layouts/footer' %>
  </body>
</html>
