<!DOCTYPE html>
<html>
  <head>
    <title>DataPass</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "dsfr-fonts", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "dsfr", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "dsfr-utility", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%  Dir[Rails.root.join("app/assets/stylesheets/components/*.css")].each do |path| %>
      <%= stylesheet_link_tag "components/#{File.basename(path)}", "data-turbo-track": "reload" %>
    <% end %>

    <%= javascript_include_tag "dsfr.module", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>

    <div class="fr-container fr-container--main">
      <%= render partial: 'shared/alerts' %>
      <%= yield %>
    </div>

    <%= render partial: 'layouts/footer' %>
  </body>
</html>
