<% set_title! t('page_titles.authorization_request_summary', definition_name: authorization_request.definition.name) %>

<%= content_for(:body) do %>
  <div class="fr-background-alt--blue-france" data-controller="scroll-to-top">
    <div class="authorization-request-form-header">
      <div class="fr-container">
        <div class="fr-grid-row">
          <div class="fr-col-12 fr-col-md-8">
            <%= render partial: 'authorization_requests/shared/title' %>

            <div class="authorization-request-form-header__badges">
              <ul class="fr-badge-group">
                <%= authorization_request.reopening_badge %>

                <li>
                  <span class="fr-badge fr-badge--no-icon authorization-request-id-badge"><%= t('authorization_request.badge', formatted_id: authorization_request.formatted_id) %></span>
                </li>

                <% if authorization_request.definition.stage.exists? %>
                  <li>
                    <%= authorization_request.stage_badge %>
                  </li>
                <% end %>

                <li>
                  <%= authorization_request.status_badge %>
                </li>
              </ul>
            </div>
          </div>

          <div class="fr-col-12 fr-col-md-4">
            <div class="authorization-request-form-header__actions">
              <% if policy(authorization_request).transfer? %>
                <%= dsfr_main_modal_button t('authorization_request_forms.form.transfer'), new_authorization_request_transfer_path(authorization_request), id: :transfer_authorization_request, class: %w(fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-refresh-fill) %>
              <% elsif policy(authorization_request).manual_transfer_from_instructor? %>
                <%= dsfr_main_modal_button t('authorization_request_forms.form.transfer'), new_authorization_request_manual_transfer_path(authorization_request), id: :manual_transfer_authorization_request, class: %w(fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-refresh-fill) %>
              <% end %>

              <% if policy(authorization_request).reopen? %>
                <%= dsfr_main_modal_button t('authorization_request_forms.form.reopen'), new_authorization_request_authorization_reopen_authorization_path(authorization_request_id: authorization_request.id, authorization_id: authorization_request.latest_authorization.id), class: %w(fr-btn fr-btn--secondary fr-btn--sm) %>
              <% end %>

              <% if policy(authorization_request).archive? %>
                <%= dsfr_main_modal_button t('authorization_request_forms.form.archive'), new_authorization_request_archive_path(authorization_request), id: :archive_authorization_request, class: %w(fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-delete-line) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fr-tabs" data-controller="auto-height">
      <ul class="fr-tabs__list fr-container" role="tablist" aria-label="Menu secondaire">
        <% applicant_tabs_for(authorization_request).each do |id, path| %>
          <li role="presentation">
            <%=
              link_to(
                path,
                class: [
                  'fr-tabs__tab',
                  "fr-icon-#{t(".tabs.#{id}.icon")}",
                  'fr-tabs__tab--icon-left'
                ],
                role: 'tab',
                id: "tab-#{id}",
                tabindex: current_page?(path) ? '0' : '-1',
                data: {
                  turbo_frame: "tab-#{id}-panel",
                },
                aria: {
                  selected: current_page?(path),
                  controls: "tab-#{id}-panel"
                }) do
            %>
              <%= t(".tabs.#{id}.title") %>
              <% if id == :messages && authorization_request.unread_messages_from_instructors_count > 0 %>
                <span class="unread-message-dot fr-ml-2v">
                  <%= authorization_request.unread_messages_from_instructors_count %>
                </span>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>

      <% applicant_tabs_for(authorization_request).each do |id, path| %>
        <turbo-frame id="tab-<%= id %>-panel" class="fr-tabs__panel fr-tabs__panel--selected fr-bg-white" role="tabpanel" aria-labelledby="tab-<%= id %>" tabindex="0" data-turbo-action="advance">
          <div class="fr-container">
            <%= render partial: 'shared/alerts' %>

            <% if current_page?(path) %>
              <div data-auto-height-target="source">
                <%= yield %>
              </div>
            <% else %>
              <div data-auto-height-target="destination">
              </div>
            <% end %>
          </div>
        </turbo-frame>
      <% end %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
