<% set_title! t('page_titles.instruction.formulaires_show', formulaire_name: @formulaire.name, provider_name: @data_provider.name) %>

<%= render 'instruction/formulaires/header' %>

<section class="cas-usage-section even">
  <!-- useless properties : @formulaire.description, @formulaire.public, @formulaire.link -->

  <div class="fr-container">
    <%= render 'instruction/shared/title_with_modify_button' do %>
      <h2>Propriétés</h2>
    <% end %>

    <div class="cas-usage-properties">
      <div class="cas-usage-property">
        <%= t('.fields.kind') %> : 
        <code><%= @formulaire.kind.presence || content_tag(:span, t('.empty_value'), class: 'fr-text-mention--grey') %></code>
      </div>

      <div class="cas-usage-property">
        <%= t('.flags.startable_by_applicant') %> : 
        <code><%= t(".#{@formulaire.startable_by_applicant}") %></code>
      </div>

      <div class="cas-usage-property">
        <%= t('.flags.unique') %> :
        <code><%= t(".#{@formulaire.unique}") %></code>
      </div>

      <!-- J'ai dû ajouter de la config dans les locales pour avoir les valeurs par défaut -->
      <% t(".sections.features").each do |feature, name_and_default| %>
        <% value = @formulaire.features[feature] || name_and_default[:default]%>
        <div class="cas-usage-property">
          <%= name_and_default[:name] %> :
          <code><%= t(".#{value}", default: 'Non') %></code>
        </div>
      <% end %>


      <div class="cas-usage-property">
        <%= t('.fields.access_link') %> : 
        <% if @formulaire.access_link.present? %>
          <%= link_to @formulaire.access_link, @formulaire.access_link, class: 'fr-link' %>
        <% else %>
          <span class="fr-text-mention--grey"><%= t('.empty_value') %></span>
        <% end %>
      </div>

      <div class="cas-usage-property">
        <%= t('.fields.support_email') %>
        <% if @formulaire.support_email.present? %>
          <%= mail_to @formulaire.support_email, @formulaire.support_email, class: 'fr-link' %>
        <% else %>
          <span class="fr-text-mention--grey"><%= t('.empty_value') %></span>
        <% end %>
      </div>
    </div>
  </div>
</section>

<% if @cas_usages_count > 1 %>
  <section class="cas-usage-section">
    <div class="fr-container">
      <strong>
        <%= link_to "#{@cas_usages_count} Cas d'usages", instruction_formulaire_cas_usages_path(provider_slug: @data_provider.slug, formulaire_id: @formulaire.id), class: "fr-link fr-icon-arrow-right-line fr-link--icon-right" %>
      </strong>
    </div>
  </section>
<% end %>

<%= render 'instruction/shared/formulaire_wysiwyg', authorization_request: @authorization_request %>
